﻿._3-hotel-booking-page,
._3-hotel-booking-page * {
    box-sizing: border-box;
}

._3-hotel-booking-page {
    background: #ffffff;
    width: 1440px;
    height: 3844px;
    position: relative;
    overflow: hidden;
}

.frame-38 {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 100px;
    top: 116px;
}
.navbar {
    background: var(--black, #0c0404);
    width: 1440px;
    height: 100px;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
}

.prime-hotels {
    color: #ffffff;
    text-align: left;
    font: var(--inter-medium-24-px, 500 24px "Inter", sans-serif);
    position: absolute;
    left: 100px;
    top: 36px;
}

.login-button {
    background: var(--black, #0c0404);
    border-radius: 20px;
    border-style: solid;
    border-color: var(--white, #ffffff);
    border-width: 1px;
    padding: 10px 32px 10px 32px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 1233px;
    top: 30px;
}

.login {
    color: #ffffff;
    text-align: left;
    font: var(--inter-medium-16-px, 500 16px "Inter", sans-serif);
    position: relative;
}
.frame-32 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 1190px;
    top: 141px;
}
.image-grid-gallery {
    width: 1240px;
    height: 500px;
    position: absolute;
    left: 100px;
    top: 202px;
}
.hotel-mountain-view {
    color: var(--black, #0c0404);
    text-align: left;
    font: var(--inter-semibold-36-px, 600 36px "Inter", sans-serif);
    position: relative;
}

._2972-westheimer-rd-santa-ana-illinois-85486 {
    color: var(--black, #0c0404);
    text-align: left;
    font: var(--inter-medium-18-px, 500 18px "Inter", sans-serif);
    position: relative;
}
.star-1 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

._4-7-95-reviews {
    color: #000000;
    text-align: left;
    font: var(--inter-regular-16-px, 400 16px "Inter", sans-serif);
    position: relative;
}
.frame-39 {
    border-radius: 20px;
    border-style: solid;
    border-color: var(--black, #0c0404);
    border-width: 1px;
    width: 610px;
    height: 500px;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
}

.frame-40 {
    border-radius: 20px;
    border-style: solid;
    border-color: var(--black, #0c0404);
    border-width: 1px;
    width: 610px;
    height: 240px;
    position: absolute;
    left: 630px;
    top: 0px;
    overflow: hidden;
}

.frame-41 {
    border-radius: 20px;
    border-style: solid;
    border-color: var(--black, #0c0404);
    border-width: 1px;
    width: 610px;
    height: 240px;
    position: absolute;
    left: 630px;
    top: 260px;
    overflow: hidden;
}

.hotel-facilities-card {
    background: var(--white, #ffffff);
    border-radius: 20px;
    width: 610px;
    height: 400px;
    position: absolute;
    left: 100px;
    top: 718px;
    box-shadow: var( --shadow-effect-box-shadow, 0px 0px 10px 0px rgba(0, 0, 0, 0.5) );
    overflow: hidden;
}

.facilities {
    color: #000000;
    text-align: left;
    font: var(--inter-medium-24-px, 500 24px "Inter", sans-serif);
    position: absolute;
    left: 20px;
    top: 45px;
}

.frame-36 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 20px;
    top: 90px;
}

.check-circle {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.reception {
    color: #000000;
    text-align: left;
    font: var(--inter-regular-18-px, 400 18px "Inter", sans-serif);
    position: relative;
}

.frame-37 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 20px;
    top: 138px;
}

.check-circle2 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.restaurant {
    color: #000000;
    text-align: left;
    font: var(--inter-regular-18-px, 400 18px "Inter", sans-serif);
    position: relative;
}

.frame-382 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 20px;
    top: 186px;
}

.check-circle3 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.tv-refrigerator {
    color: #000000;
    text-align: left;
    font: var(--inter-regular-18-px, 400 18px "Inter", sans-serif);
    position: relative;
}

.frame-392 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 20px;
    top: 234px;
}

.check-circle4 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.room-service {
    color: #000000;
    text-align: left;
    font: var(--inter-regular-18-px, 400 18px "Inter", sans-serif);
    position: relative;
}

.frame-402 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 20px;
    top: 282px;
}

.check-circle5 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

._24-hour-front-desk {
    color: #000000;
    text-align: left;
    font: var(--inter-regular-18-px, 400 18px "Inter", sans-serif);
    position: relative;
}

.frame-412 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 20px;
    top: 330px;
}

.check-circle6 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.parking {
    color: #000000;
    text-align: left;
    font: var(--inter-regular-18-px, 400 18px "Inter", sans-serif);
    position: relative;
}

.hotel-booking-card {
    background: var(--white, #ffffff);
    border-radius: 20px;
    width: 610px;
    height: 400px;
    position: absolute;
    left: 730px;
    top: 718px;
    box-shadow: var( --shadow-effect-box-shadow, 0px 0px 10px 0px rgba(0, 0, 0, 0.5) );
    overflow: hidden;
}

._99-per-night {
    color: #000000;
    text-align: left;
    position: absolute;
    left: 20px;
    top: 54px;
}

._99-per-night-span {
    color: #000000;
    font: var(--inter-medium-20-px, 500 20px "Inter", sans-serif);
}

._99-per-night-span2 {
    color: #000000;
    font: var(--inter-regular-18-px, 400 18px "Inter", sans-serif);
}

.group-3 {
    position: absolute;
    inset: 0;
}

._99-5-nights {
    color: #000000;
    text-align: left;
    position: absolute;
    left: 20px;
    top: 241px;
}

._99-5-nights-span {
    color: #000000;
    font: var(--inter-medium-20-px, 500 20px "Inter", sans-serif);
}

._99-5-nights-span2 {
    color: #000000;
    font: var(--inter-regular-18-px, 400 18px "Inter", sans-serif);
}

._495 {
    color: #000000;
    text-align: left;
    font: var(--inter-medium-20-px, 500 20px "Inter", sans-serif);
    position: absolute;
    left: 539px;
    top: 241px;
}

.group-2 {
    position: absolute;
    inset: 0;
}

.tax-and-hospitality-fees-10 {
    color: #000000;
    text-align: left;
    font: var(--inter-regular-18-px, 400 18px "Inter", sans-serif);
    position: absolute;
    left: 19px;
    top: 273px;
}

._49-5 {
    color: #000000;
    text-align: left;
    font: var(--inter-medium-20-px, 500 20px "Inter", sans-serif);
    position: absolute;
    left: 534px;
    top: 273px;
}

.group-1 {
    position: absolute;
    inset: 0;
}

.total-price-after-tax {
    color: #000000;
    text-align: left;
    font: var(--inter-regular-18-px, 400 18px "Inter", sans-serif);
    position: absolute;
    left: 19px;
    top: 321px;
    width: 168.77px;
    height: 22.23px;
}

._545 {
    color: #000000;
    text-align: left;
    font: var(--inter-medium-20-px, 500 20px "Inter", sans-serif);
    position: absolute;
    left: 539.46px;
    top: 321px;
    width: 51.54px;
    height: 24.25px;
}

.check-in-out-guests-details {
    border-radius: 20px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
    border-width: 1px;
    width: 570px;
    height: 60px;
    position: absolute;
    left: 20px;
    top: 90px;
    overflow: hidden;
}

.frame-46 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 527px;
    position: absolute;
    left: 22px;
    top: 10px;
}

.frame-43 {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.check-in {
    color: #000000;
    text-align: left;
    font: var(--inter-medium-16-px, 500 16px "Inter", sans-serif);
    position: relative;
}

._01-01-2023 {
    color: #000000;
    text-align: left;
    font: var(--inter-regular-14-px, 400 14px "Inter", sans-serif);
    position: relative;
}

.frame-44 {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.check-out {
    color: #000000;
    text-align: left;
    font: var(--inter-medium-16-px, 500 16px "Inter", sans-serif);
    position: relative;
}

._05-01-2023 {
    color: #000000;
    text-align: left;
    font: var(--inter-regular-14-px, 400 14px "Inter", sans-serif);
    position: relative;
}

.frame-45 {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.guests {
    color: #000000;
    text-align: left;
    font: var(--inter-medium-16-px, 500 16px "Inter", sans-serif);
    position: relative;
}

._2-guest {
    color: #000000;
    text-align: left;
    font: var(--inter-regular-14-px, 400 14px "Inter", sans-serif);
    position: relative;
}

.booking-button {
    background: var(--black, #0c0404);
    border-radius: 20px;
    width: 570px;
    height: 60px;
    position: absolute;
    left: 20px;
    top: 158px;
    overflow: hidden;
}

.reserve {
    color: #ffffff;
    text-align: left;
    font: var(--inter-semibold-20-px, 600 20px "Inter", sans-serif);
    position: absolute;
    left: 246px;
    top: 18px;
}

.click-above-to-proceed {
    color: rgba(0, 0, 0, 0.6);
    text-align: left;
    font: var(--inter-regular-12-px, 400 12px "Inter", sans-serif);
    position: absolute;
    left: 239px;
    top: 222px;
}

.line-1 {
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.4);
    border-width: 1px 0 0 0;
    width: 610px;
    height: 0px;
    position: absolute;
    left: 0px;
    top: 309px;
}

.rating-and-reviews {
    color: #000000;
    text-align: left;
    font: var(--inter-medium-32-px, 500 32px "Inter", sans-serif);
    position: absolute;
    left: 100px;
    top: 1182px;
}

.similar-properties {
    color: #000000;
    text-align: left;
    font: var(--inter-medium-32-px, 500 32px "Inter", sans-serif);
    position: absolute;
    left: 100px;
    top: 2101px;
}

.line-2 {
    border-style: solid;
    border-color: #000000;
    border-width: 1px 0 0 0;
    width: 1440px;
    height: 0px;
    position: absolute;
    left: 0px;
    top: 1150px;
}

.line-3 {
    border-style: solid;
    border-color: #000000;
    border-width: 1px 0 0 0;
    width: 1440px;
    height: 0px;
    position: absolute;
    left: 0px;
    top: 2069px;
}

.average-user-rating {
    background: var(--light-green, #48b284);
    border-radius: 20px;
    width: 180px;
    height: 180px;
    position: absolute;
    left: 100px;
    top: 1253px;
    overflow: hidden;
}

._4-8-5 {
    color: #ffffff;
    text-align: left;
    font: var(--inter-medium-32-px, 500 32px "Inter", sans-serif);
    position: absolute;
    left: 50px;
    top: 71px;
}

.rating-breakdown {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 180px;
    position: absolute;
    left: 344px;
    top: 1253px;
}

.frame-49 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

._5 {
    color: #000000;
    text-align: left;
    font: var(--inter-medium-14-px, 500 14px "Inter", sans-serif);
    position: relative;
}

.frame-48 {
    background: var(--green, #039556);
    border-radius: 20px;
    flex-shrink: 0;
    width: 957px;
    height: 8px;
    position: relative;
    overflow: hidden;
}

._84 {
    color: #000000;
    text-align: left;
    font: var(--inter-medium-14-px, 500 14px "Inter", sans-serif);
    position: relative;
}

.frame-50 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

._4 {
    color: #000000;
    text-align: left;
    font: var(--inter-medium-14-px, 500 14px "Inter", sans-serif);
    position: relative;
}

.frame-482 {
    background: var(--light-green, #48b284);
    border-radius: 20px;
    flex-shrink: 0;
    width: 285px;
    height: 8px;
    position: relative;
    overflow: hidden;
}

._9 {
    color: #000000;
    text-align: left;
    font: var(--inter-medium-14-px, 500 14px "Inter", sans-serif);
    position: relative;
}

.frame-51 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

._3 {
    color: #000000;
    text-align: left;
    font: var(--inter-medium-14-px, 500 14px "Inter", sans-serif);
    position: relative;
}

.frame-483 {
    background: var(--dark-yellow, #f49d00);
    border-radius: 20px;
    flex-shrink: 0;
    width: 160px;
    height: 8px;
    position: relative;
    overflow: hidden;
}

.frame-52 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

._2 {
    color: #000000;
    text-align: left;
    font: var(--inter-medium-14-px, 500 14px "Inter", sans-serif);
    position: relative;
}

.frame-484 {
    background: var(--orange, #ec6111);
    border-radius: 20px;
    flex-shrink: 0;
    width: 59px;
    height: 8px;
    position: relative;
    overflow: hidden;
}

.frame-53 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

._1 {
    color: #000000;
    text-align: left;
    font: var(--inter-medium-14-px, 500 14px "Inter", sans-serif);
    position: relative;
}

.frame-485 {
    background: var(--dark-red, #9b051e);
    border-radius: 20px;
    flex-shrink: 0;
    width: 19px;
    height: 8px;
    position: relative;
    overflow: hidden;
}

.user-review-with-text {
    border-radius: 20px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
    border-width: 1px;
    width: 1240px;
    height: 120px;
    position: absolute;
    left: 100px;
    top: 1465px;
    overflow: hidden;
}

.user-name-and-review {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 88px;
    top: 31px;
}

.brooklyn-simmons {
    color: #000000;
    text-align: left;
    font: var(--inter-semibold-16-px, 600 16px "Inter", sans-serif);
    position: relative;
}

._2-days-ago {
    color: rgba(0, 0, 0, 0.8);
    text-align: left;
    font: var(--inter-regular-12-px, 400 12px "Inter", sans-serif);
    position: relative;
}

.lorem-ipsum-dolor-sit-amet-consectetur-nulla-nibh-sed-lectus-aliquet-posuere-orci-turpis-dui-tincidunt-sodales-dui {
    color: #000000;
    text-align: left;
    font: var(--inter-regular-14-px, 400 14px "Inter", sans-serif);
    position: relative;
}

.user-rating {
    background: var(--light-green, #48b284);
    border-radius: 5px;
    width: 36px;
    height: 36px;
    position: absolute;
    left: 20px;
    top: 42px;
    overflow: hidden;
}

._4-5 {
    color: #ffffff;
    text-align: left;
    font: var(--inter-medium-14-px, 500 14px "Inter", sans-serif);
    position: absolute;
    left: 6px;
    top: 10px;
}

.user-review-with-text2 {
    border-radius: 20px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
    border-width: 1px;
    width: 1240px;
    height: 120px;
    position: absolute;
    left: 100px;
    top: 1593px;
    overflow: hidden;
}

.darlene-robertson {
    color: #000000;
    text-align: left;
    font: var(--inter-semibold-16-px, 600 16px "Inter", sans-serif);
    position: relative;
}

.user-rating2 {
    background: var(--green, #039556);
    border-radius: 5px;
    width: 36px;
    height: 36px;
    position: absolute;
    left: 20px;
    top: 42px;
    overflow: hidden;
}

._5-5 {
    color: #ffffff;
    text-align: left;
    font: var(--inter-medium-14-px, 500 14px "Inter", sans-serif);
    position: absolute;
    left: 6px;
    top: 10px;
}

.user-review-with-text3 {
    border-radius: 20px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
    border-width: 1px;
    width: 1240px;
    height: 120px;
    position: absolute;
    left: 101px;
    top: 1721px;
    overflow: hidden;
}

.jacob-jones {
    color: #000000;
    text-align: left;
    font: var(--inter-semibold-16-px, 600 16px "Inter", sans-serif);
    position: relative;
}

.user-rating3 {
    background: var(--dark-yellow, #f49d00);
    border-radius: 5px;
    width: 36px;
    height: 36px;
    position: absolute;
    left: 20px;
    top: 42px;
    overflow: hidden;
}

._3-5 {
    color: #ffffff;
    text-align: left;
    font: var(--inter-medium-14-px, 500 14px "Inter", sans-serif);
    position: absolute;
    left: 6px;
    top: 10px;
}

.user-review-with-text4 {
    border-radius: 20px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
    border-width: 1px;
    width: 1240px;
    height: 120px;
    position: absolute;
    left: 100px;
    top: 1849px;
    overflow: hidden;
}

.jane-cooper {
    color: #000000;
    text-align: left;
    font: var(--inter-semibold-16-px, 600 16px "Inter", sans-serif);
    position: relative;
}

.user-review-with-text5 {
    border-radius: 20px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
    border-width: 1px;
    width: 1240px;
    height: 60px;
    position: absolute;
    left: 100px;
    top: 1977px;
    overflow: hidden;
}

.read-all-reviews {
    color: #000000;
    text-align: left;
    font: var(--inter-medium-14-px, 500 14px "Inter", sans-serif);
    position: absolute;
    left: 563px;
    top: 22px;
}

.hotel-search-list-component {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 100px;
    top: 2172px;
}

.hotel-search-list-1 {
    border-radius: 20px;
    border-style: solid;
    border-color: var(--black, #0c0404);
    border-width: 1px;
    flex-shrink: 0;
    width: 1240px;
    height: 350px;
    position: relative;
    overflow: hidden;
}

.frame-383 {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 433px;
    top: 20px;
}

.frame-322 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 433px;
    top: 108px;
}

.star-12 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.frame-372 {
    display: flex;
    flex-direction: row;
    gap: 36px;
    align-items: flex-end;
    justify-content: flex-start;
    position: absolute;
    left: 433px;
    top: 163px;
}

.frame-33 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.check-circle7 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.frame-34 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.check-circle8 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.frame-35 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.check-circle9 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
.spa {
    color: #000000;
    text-align: left;
    font: var(--inter-regular-18-px, 400 18px "Inter", sans-serif);
    position: relative;
}

.frame-362 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.check-circle10 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.price-text {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 435px;
    top: 260px;
}

._99 {
    color: #000000;
    text-align: left;
    font: var(--inter-bold-36-px, 700 36px "Inter", sans-serif);
    position: relative;
}

._1299 {
    color: #000000;
    text-align: left;
    font: 400 18px "Inter", sans-serif;
    text-decoration: line-through;
    position: relative;
}

.discount-tag {
    flex-shrink: 0;
    width: 100.5px;
    height: 20px;
    position: static;
}

.rectangle-1 {
    border-radius: 0px;
    position: absolute;
    left: 151px;
    top: 29px;
    overflow: visible;
}

._93-off {
    color: #ffffff;
    text-align: left;
    font: var(--inter-medium-12-px, 500 12px "Inter", sans-serif);
    position: absolute;
    left: 168px;
    top: 32px;
}

.per-room-night {
    color: var(--gray, #a0a0a0);
    text-align: left;
    font: var(--inter-regular-18-px, 400 18px "Inter", sans-serif);
    position: absolute;
    left: 436px;
    top: 308px;
}

.view-more-details-button {
    background: var(--black, #0c0404);
    border-radius: 20px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    padding: 16px 32px 16px 32px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 998px;
    top: 278px;
}

.view-more-details {
    color: var(--white, #ffffff);
    text-align: left;
    font: var(--inter-medium-16-px, 500 16px "Inter", sans-serif);
    position: relative;
}

.hotel-search-list-image {
    border-radius: 20px 0px 0px 20px;
    border-style: solid;
    border-color: var(--black, #0c0404);
    border-width: 1px;
    width: 400px;
    height: 350px;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
}

.hotel-search-list-2 {
    border-radius: 20px;
    border-style: solid;
    border-color: var(--black, #0c0404);
    border-width: 1px;
    flex-shrink: 0;
    width: 1240px;
    height: 350px;
    position: relative;
    overflow: hidden;
}

.hotel-royal-palace {
    color: var(--black, #0c0404);
    text-align: left;
    font: var(--inter-semibold-36-px, 600 36px "Inter", sans-serif);
    position: relative;
}

._4140-parker-rd-allentown-new-mexico-31134 {
    color: var(--black, #0c0404);
    text-align: left;
    font: var(--inter-medium-18-px, 500 18px "Inter", sans-serif);
    position: relative;
}

.star-13 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

._4-6-195-reviews {
    color: #000000;
    text-align: left;
    font: var(--inter-regular-16-px, 400 16px "Inter", sans-serif);
    position: relative;
}

.check-circle11 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.check-circle12 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.check-circle13 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.check-circle14 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

._79 {
    color: #000000;
    text-align: left;
    font: var(--inter-bold-36-px, 700 36px "Inter", sans-serif);
    position: relative;
}

.rectangle-12 {
    border-radius: 0px;
    position: absolute;
    left: 151px;
    top: 29px;
    overflow: visible;
}

.hotel-search-list-3 {
    border-radius: 20px;
    border-style: solid;
    border-color: var(--black, #0c0404);
    border-width: 1px;
    flex-shrink: 0;
    width: 1240px;
    height: 350px;
    position: relative;
    overflow: hidden;
}

.hotel-lakefront {
    color: var(--black, #0c0404);
    text-align: left;
    font: var(--inter-semibold-36-px, 600 36px "Inter", sans-serif);
    position: relative;
}

._6391-elgin-st-celina-delaware-10299 {
    color: var(--black, #0c0404);
    text-align: left;
    font: var(--inter-medium-18-px, 500 18px "Inter", sans-serif);
    position: relative;
}

.star-14 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

._4-5-55-reviews {
    color: #000000;
    text-align: left;
    font: var(--inter-regular-16-px, 400 16px "Inter", sans-serif);
    position: relative;
}

.check-circle15 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.check-circle16 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.check-circle17 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.check-circle18 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

._89 {
    color: #000000;
    text-align: left;
    font: var(--inter-bold-36-px, 700 36px "Inter", sans-serif);
    position: relative;
}

.rectangle-13 {
    border-radius: 0px;
    position: absolute;
    left: 151px;
    top: 29px;
    overflow: visible;
}

.hotel-search-list-4 {
    border-radius: 20px;
    border-style: solid;
    border-color: var(--black, #0c0404);
    border-width: 1px;
    flex-shrink: 0;
    width: 1240px;
    height: 350px;
    position: relative;
    overflow: hidden;
}

.hotel-serene-stay {
    color: var(--black, #0c0404);
    text-align: left;
    font: var(--inter-semibold-36-px, 600 36px "Inter", sans-serif);
    position: relative;
}

._2464-royal-ln-mesa-new-jersey-45463 {
    color: var(--black, #0c0404);
    text-align: left;
    font: var(--inter-medium-18-px, 500 18px "Inter", sans-serif);
    position: relative;
}

.star-15 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

._4-4-91-reviews {
    color: #000000;
    text-align: left;
    font: var(--inter-regular-16-px, 400 16px "Inter", sans-serif);
    position: relative;
}

.check-circle19 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.check-circle20 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.check-circle21 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.check-circle22 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

._59 {
    color: #000000;
    text-align: left;
    font: var(--inter-bold-36-px, 700 36px "Inter", sans-serif);
    position: relative;
}

.rectangle-14 {
    border-radius: 0px;
    position: absolute;
    left: 151px;
    top: 29px;
    overflow: visible;
}

.footer {
    background: var(--white, #ffffff);
    border-radius: 20px;
    width: 1240px;
    height: 200px;
    position: absolute;
    left: 100px;
    top: 3644px;
    overflow: hidden;
}

.frame-31 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 74px;
    top: 75px;
}

.frame-30 {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.instagram {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.facebook {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.twitter {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.frame-16 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    width: 1092px;
    position: relative;
}



