﻿@page "/booking-detail"

<div class="_3-hotel-booking-page">
    <div class="navbar">
        <div class="prime-hotels">Prime Hotels</div>
        <div class="login-button">
            <div class="login">Login</div>
        </div>
    </div>
    <div class="frame-38">
        <div class="hotel-mountain-view">Hotel MountainView</div>
        <div class="_2972-westheimer-rd-santa-ana-illinois-85486">
            2972 Westheimer Rd. Santa Ana, Illinois 85486
        </div>
    </div>

    <div class="frame-32">
        <svg class="star-1"
             width="20"
             height="20"
             viewBox="0 0 20 20"
             fill="none"
             xmlns="http://www.w3.org/2000/svg">
            <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z"
                  fill="#FFCD3C" />
        </svg>

        <div class="_4-7-95-reviews">4.7 (95 reviews)</div>
    </div>
     
    <div class="image-grid-gallery">
        <img class="frame-39" src="https://static-images.vnncdn.net/files/publish/2023/3/9/ttbxecu-21-of-42-213-278.jpeg" />
        <img class="frame-40" src="https://static-images.vnncdn.net/files/publish/2023/3/9/ttbxecu-21-of-42-213-278.jpeg" />
        <img class="frame-41" src="https://static-images.vnncdn.net/files/publish/2023/3/9/ttbxecu-21-of-42-213-278.jpeg" />
    </div>

    <div class="hotel-facilities-card">
        <div class="facilities">Facilities</div>
        <div class="frame-36">
            <svg class="check-circle"
                 width="24"
                 height="24"
                 viewBox="0 0 24 24"
                 fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M22 11.08V12C21.9988 14.1564 21.3005 16.2547 20.0093 17.9818C18.7182 19.709 16.9033 20.9725 14.8354 21.5839C12.7674 22.1953 10.5573 22.1219 8.53447 21.3746C6.51168 20.6273 4.78465 19.2461 3.61096 17.4371C2.43727 15.628 1.87979 13.4881 2.02168 11.3363C2.16356 9.18455 2.99721 7.13631 4.39828 5.49706C5.79935 3.85781 7.69279 2.71537 9.79619 2.24013C11.8996 1.7649 14.1003 1.98232 16.07 2.85999"
                      stroke="#039556"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round" />
                <path d="M22 4L12 14.01L9 11.01"
                      stroke="#039556"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round" />
            </svg>

            <div class="reception">Reception</div>
        </div>
        <div class="frame-37">
            <svg class="check-circle2"
                 width="24"
                 height="24"
                 viewBox="0 0 24 24"
                 fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M22 11.08V12C21.9988 14.1564 21.3005 16.2547 20.0093 17.9818C18.7182 19.709 16.9033 20.9725 14.8354 21.5839C12.7674 22.1953 10.5573 22.1219 8.53447 21.3746C6.51168 20.6273 4.78465 19.2461 3.61096 17.4371C2.43727 15.628 1.87979 13.4881 2.02168 11.3363C2.16356 9.18455 2.99721 7.13631 4.39828 5.49706C5.79935 3.85781 7.69279 2.71537 9.79619 2.24013C11.8996 1.7649 14.1003 1.98232 16.07 2.85999"
                      stroke="#039556"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round" />
                <path d="M22 4L12 14.01L9 11.01"
                      stroke="#039556"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round" />
            </svg>

            <div class="restaurant">Restaurant</div>
        </div>
        <div class="frame-382">
            <svg class="check-circle3"
                 width="24"
                 height="24"
                 viewBox="0 0 24 24"
                 fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M22 11.08V12C21.9988 14.1564 21.3005 16.2547 20.0093 17.9818C18.7182 19.709 16.9033 20.9725 14.8354 21.5839C12.7674 22.1953 10.5573 22.1219 8.53447 21.3746C6.51168 20.6273 4.78465 19.2461 3.61096 17.4371C2.43727 15.628 1.87979 13.4881 2.02168 11.3363C2.16356 9.18455 2.99721 7.13631 4.39828 5.49706C5.79935 3.85781 7.69279 2.71537 9.79619 2.24013C11.8996 1.7649 14.1003 1.98232 16.07 2.85999"
                      stroke="#039556"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round" />
                <path d="M22 4L12 14.01L9 11.01"
                      stroke="#039556"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round" />
            </svg>

            <div class="tv-refrigerator">TV &amp; Refrigerator</div>
        </div>
        <div class="frame-392">
            <svg class="check-circle4"
                 width="24"
                 height="24"
                 viewBox="0 0 24 24"
                 fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M22 11.08V12C21.9988 14.1564 21.3005 16.2547 20.0093 17.9818C18.7182 19.709 16.9033 20.9725 14.8354 21.5839C12.7674 22.1953 10.5573 22.1219 8.53447 21.3746C6.51168 20.6273 4.78465 19.2461 3.61096 17.4371C2.43727 15.628 1.87979 13.4881 2.02168 11.3363C2.16356 9.18455 2.99721 7.13631 4.39828 5.49706C5.79935 3.85781 7.69279 2.71537 9.79619 2.24013C11.8996 1.7649 14.1003 1.98232 16.07 2.85999"
                      stroke="#039556"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round" />
                <path d="M22 4L12 14.01L9 11.01"
                      stroke="#039556"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round" />
            </svg>

            <div class="room-service">Room Service</div>
        </div>
        <div class="frame-402">
            <svg class="check-circle5"
                 width="24"
                 height="24"
                 viewBox="0 0 24 24"
                 fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M22 11.08V12C21.9988 14.1564 21.3005 16.2547 20.0093 17.9818C18.7182 19.709 16.9033 20.9725 14.8354 21.5839C12.7674 22.1953 10.5573 22.1219 8.53447 21.3746C6.51168 20.6273 4.78465 19.2461 3.61096 17.4371C2.43727 15.628 1.87979 13.4881 2.02168 11.3363C2.16356 9.18455 2.99721 7.13631 4.39828 5.49706C5.79935 3.85781 7.69279 2.71537 9.79619 2.24013C11.8996 1.7649 14.1003 1.98232 16.07 2.85999"
                      stroke="#039556"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round" />
                <path d="M22 4L12 14.01L9 11.01"
                      stroke="#039556"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round" />
            </svg>

            <div class="_24-hour-front-desk">24-hour front desk</div>
        </div>
        <div class="frame-412">
            <svg class="check-circle6"
                 width="24"
                 height="24"
                 viewBox="0 0 24 24"
                 fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M22 11.08V12C21.9988 14.1564 21.3005 16.2547 20.0093 17.9818C18.7182 19.709 16.9033 20.9725 14.8354 21.5839C12.7674 22.1953 10.5573 22.1219 8.53447 21.3746C6.51168 20.6273 4.78465 19.2461 3.61096 17.4371C2.43727 15.628 1.87979 13.4881 2.02168 11.3363C2.16356 9.18455 2.99721 7.13631 4.39828 5.49706C5.79935 3.85781 7.69279 2.71537 9.79619 2.24013C11.8996 1.7649 14.1003 1.98232 16.07 2.85999"
                      stroke="#039556"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round" />
                <path d="M22 4L12 14.01L9 11.01"
                      stroke="#039556"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round" />
            </svg>

            <div class="parking">Parking</div>
        </div>
    </div>
     <div class="hotel-booking-card">
        <div class="_99-per-night">
            <span>
                <span class="_99-per-night-span">$99</span><span class="_99-per-night-span2"> per night</span>
            </span>
        </div>
        <div class="group-3">
            <div class="_99-5-nights">
                <span>
                    <span class="_99-5-nights-span">$99 * 5</span><span class="_99-5-nights-span2"> nights</span>
                </span>
            </div>
            <div class="_495">$495</div>
        </div>
        <div class="group-2">
            <div class="tax-and-hospitality-fees-10">
                Tax and Hospitality fees (10%)
            </div>
            <div class="_49-5">$49.5</div>
        </div>
        <div class="group-1">
            <div class="total-price-after-tax">Total price after tax</div>
            <div class="_545">$545</div>
        </div>
        <div class="check-in-out-guests-details">
            <div class="frame-46">
                <div class="frame-43">
                    <div class="check-in">CHECK-IN</div>
                    <div class="_01-01-2023">01/01/2023</div>
                </div>
                <div class="frame-44">
                    <div class="check-out">CHECK-OUT</div>
                    <div class="_05-01-2023">05/01/2023</div>
                </div>
                <div class="frame-45">
                    <div class="guests">GUESTS</div>
                    <div class="_2-guest">2 guest</div>
                </div>
            </div>
        </div>
        <div class="booking-button">
            <div class="reserve">Reserve</div>
        </div>
        <div class="click-above-to-proceed">Click above to proceed</div>
        <div class="line-1"></div>
    </div>
    <div class="rating-and-reviews">Rating and Reviews</div>
    <div class="similar-properties">Similar properties</div>
    <div class="line-2"></div>
    <div class="line-3"></div>
    <div class="average-user-rating">
        <div class="_4-8-5">4.8/5</div>
    </div>
    <div class="rating-breakdown">
        <div class="frame-49">
            <div class="_5">5</div>
            <div class="frame-48"></div>
            <div class="_84">84%</div>
        </div>
        <div class="frame-50">
            <div class="_4">4</div>
            <div class="frame-482"></div>
            <div class="_9">9%</div>
        </div>
        <div class="frame-51">
            <div class="_3">3</div>
            <div class="frame-483"></div>
            <div class="_4">4%</div>
        </div>
        <div class="frame-52">
            <div class="_2">2</div>
            <div class="frame-484"></div>
            <div class="_2">2%</div>
        </div>
        <div class="frame-53">
            <div class="_1">1</div>
            <div class="frame-485"></div>
            <div class="_1">1%</div>
        </div>
    </div>
    <div class="user-review-with-text">
        <div class="user-name-and-review">
            <div class="brooklyn-simmons">Brooklyn Simmons</div>
            <div class="_2-days-ago">2 Days Ago</div>
            <div class="lorem-ipsum-dolor-sit-amet-consectetur-nulla-nibh-sed-lectus-aliquet-posuere-orci-turpis-dui-tincidunt-sodales-dui">
                Lorem ipsum dolor sit amet consectetur. Nulla nibh sed lectus
                aliquet. Posuere orci turpis dui tincidunt sodales dui.
            </div>
        </div>
        <div class="user-rating">
            <div class="_4-5">4/5</div>
        </div>
    </div>
    <div class="user-review-with-text2">
        <div class="user-name-and-review">
            <div class="darlene-robertson">Darlene Robertson</div>
            <div class="_2-days-ago">2 Days Ago</div>
            <div class="lorem-ipsum-dolor-sit-amet-consectetur-nulla-nibh-sed-lectus-aliquet-posuere-orci-turpis-dui-tincidunt-sodales-dui">
                Lorem ipsum dolor sit amet consectetur. Nulla nibh sed lectus
                aliquet. Posuere orci turpis dui tincidunt sodales dui.
            </div>
        </div>
        <div class="user-rating2">
            <div class="_5-5">5/5</div>
        </div>
    </div>
    <div class="user-review-with-text3">
        <div class="user-name-and-review">
            <div class="jacob-jones">Jacob Jones</div>
            <div class="_2-days-ago">2 Days Ago</div>
            <div class="lorem-ipsum-dolor-sit-amet-consectetur-nulla-nibh-sed-lectus-aliquet-posuere-orci-turpis-dui-tincidunt-sodales-dui">
                Lorem ipsum dolor sit amet consectetur. Nulla nibh sed lectus
                aliquet. Posuere orci turpis dui tincidunt sodales dui.
            </div>
        </div>
        <div class="user-rating3">
            <div class="_3-5">3/5</div>
        </div>
    </div>
    <div class="user-review-with-text4">
        <div class="user-name-and-review">
            <div class="jane-cooper">Jane Cooper</div>
            <div class="_2-days-ago">2 Days Ago</div>
            <div class="lorem-ipsum-dolor-sit-amet-consectetur-nulla-nibh-sed-lectus-aliquet-posuere-orci-turpis-dui-tincidunt-sodales-dui">
                Lorem ipsum dolor sit amet consectetur. Nulla nibh sed lectus
                aliquet. Posuere orci turpis dui tincidunt sodales dui.
            </div>
        </div>
        <div class="user-rating">
            <div class="_4-5">4/5</div>
        </div>
    </div>
    <div class="user-review-with-text5">
        <div class="read-all-reviews">Read All Reviews</div>
    </div>

    <div class="user-review-with-text5">
        <div class="read-all-reviews">Read All Reviews</div>
    </div>
      <div class="hotel-search-list-component">
        <div class="hotel-search-list-1">
            <div class="frame-383">
                <div class="hotel-mountain-view">Hotel MountainView</div>
                <div class="_2972-westheimer-rd-santa-ana-illinois-85486">
                    2972 Westheimer Rd. Santa Ana, Illinois 85486
                </div>
            </div>
            <div class="frame-322">
                <svg class="star-12"
                     width="20"
                     height="20"
                     viewBox="0 0 20 20"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z"
                          fill="#FFCD3C" />
                </svg>

                <div class="_4-7-95-reviews">4.7 (95 reviews)</div>
            </div>
            <div class="frame-372">
                <div class="frame-33">
                    <svg class="check-circle7"
                         width="24"
                         height="24"
                         viewBox="0 0 24 24"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M22 11.08V12C21.9988 14.1564 21.3005 16.2547 20.0093 17.9818C18.7182 19.709 16.9033 20.9725 14.8354 21.5839C12.7674 22.1953 10.5573 22.1219 8.53447 21.3746C6.51168 20.6273 4.78465 19.2461 3.61096 17.4371C2.43727 15.628 1.87979 13.4881 2.02168 11.3363C2.16356 9.18455 2.99721 7.13631 4.39828 5.49706C5.79935 3.85781 7.69279 2.71537 9.79619 2.24013C11.8996 1.7649 14.1003 1.98232 16.07 2.85999"
                              stroke="#039556"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round" />
                        <path d="M22 4L12 14.01L9 11.01"
                              stroke="#039556"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round" />
                    </svg>

                    <div class="room-service">Room Service</div>
                </div>
                <div class="frame-34">
                    <svg class="check-circle8"
                         width="24"
                         height="24"
                         viewBox="0 0 24 24"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M22 11.08V12C21.9988 14.1564 21.3005 16.2547 20.0093 17.9818C18.7182 19.709 16.9033 20.9725 14.8354 21.5839C12.7674 22.1953 10.5573 22.1219 8.53447 21.3746C6.51168 20.6273 4.78465 19.2461 3.61096 17.4371C2.43727 15.628 1.87979 13.4881 2.02168 11.3363C2.16356 9.18455 2.99721 7.13631 4.39828 5.49706C5.79935 3.85781 7.69279 2.71537 9.79619 2.24013C11.8996 1.7649 14.1003 1.98232 16.07 2.85999"
                              stroke="#039556"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round" />
                        <path d="M22 4L12 14.01L9 11.01"
                              stroke="#039556"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round" />
                    </svg>

                    <div class="restaurant">Restaurant</div>
                </div>
                <div class="frame-35">
                    <svg class="check-circle9"
                         width="24"
                         height="24"
                         viewBox="0 0 24 24"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M22 11.08V12C21.9988 14.1564 21.3005 16.2547 20.0093 17.9818C18.7182 19.709 16.9033 20.9725 14.8354 21.5839C12.7674 22.1953 10.5573 22.1219 8.53447 21.3746C6.51168 20.6273 4.78465 19.2461 3.61096 17.4371C2.43727 15.628 1.87979 13.4881 2.02168 11.3363C2.16356 9.18455 2.99721 7.13631 4.39828 5.49706C5.79935 3.85781 7.69279 2.71537 9.79619 2.24013C11.8996 1.7649 14.1003 1.98232 16.07 2.85999"
                              stroke="#039556"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round" />
                        <path d="M22 4L12 14.01L9 11.01"
                              stroke="#039556"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round" />
                    </svg>

                    <div class="spa">Spa</div>
                </div>
                <div class="frame-362">
                    <svg class="check-circle10"
                         width="24"
                         height="24"
                         viewBox="0 0 24 24"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M22 11.08V12C21.9988 14.1564 21.3005 16.2547 20.0093 17.9818C18.7182 19.709 16.9033 20.9725 14.8354 21.5839C12.7674 22.1953 10.5573 22.1219 8.53447 21.3746C6.51168 20.6273 4.78465 19.2461 3.61096 17.4371C2.43727 15.628 1.87979 13.4881 2.02168 11.3363C2.16356 9.18455 2.99721 7.13631 4.39828 5.49706C5.79935 3.85781 7.69279 2.71537 9.79619 2.24013C11.8996 1.7649 14.1003 1.98232 16.07 2.85999"
                              stroke="#039556"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round" />
                        <path d="M22 4L12 14.01L9 11.01"
                              stroke="#039556"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round" />
                    </svg>

                    <div class="parking">Parking</div>
                </div>
            </div>
            <div class="price-text">
                <div class="_99">$99</div>
                <div class="_1299">$1299</div>
                <div class="discount-tag">
                    <svg class="rectangle-1"
                         width="101"
                         height="20"
                         viewBox="0 0 101 20"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <g filter="url(#filter0_d_304_232)">
                            <path d="M0 2C0 0.895431 0.895431 0 2 0H79.5382C79.8421 0 80.1419 0.0692403 80.415 0.202463L96.815 8.20246C98.3126 8.93297 98.3126 11.067 96.815 11.7975L80.415 19.7975C80.1419 19.9308 79.8421 20 79.5382 20H2C0.895429 20 0 19.1046 0 18V2Z"
                                  fill="#EB0000" />
                        </g>
                        <defs>
                            <filter id="filter0_d_304_232"
                                    x="-4"
                                    y="0"
                                    width="105.938"
                                    height="28"
                                    filterUnits="userSpaceOnUse"
                                    color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                <feColorMatrix in="SourceAlpha"
                                               type="matrix"
                                               values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                                               result="hardAlpha" />
                                <feOffset dy="4" />
                                <feGaussianBlur stdDeviation="2" />
                                <feComposite in2="hardAlpha" operator="out" />
                                <feColorMatrix type="matrix"
                                               values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                                <feBlend mode="normal"
                                         in2="BackgroundImageFix"
                                         result="effect1_dropShadow_304_232" />
                                <feBlend mode="normal"
                                         in="SourceGraphic"
                                         in2="effect1_dropShadow_304_232"
                                         result="shape" />
                            </filter>
                        </defs>
                    </svg>

                    <div class="_93-off">93% Off</div>
                </div>
            </div>
            <div class="per-room-night">per room/night</div>
            <div class="view-more-details-button">
                <div class="view-more-details">View More Details</div>
            </div>
            <img class="hotel-search-list-image"
                 src="	https://static-images.vnncdn.net/files/publish/2023/3/9/ttbxecu-21-of-42-213-278.jpeg" />
        </div>
        <div class="hotel-search-list-2">
            <div class="frame-383">
                <div class="hotel-royal-palace">Hotel Royal Palace</div>
                <div class="_4140-parker-rd-allentown-new-mexico-31134">
                    4140 Parker Rd. Allentown, New Mexico 31134
                </div>
            </div>
            <div class="frame-322">
                <svg class="star-13"
                     width="20"
                     height="20"
                     viewBox="0 0 20 20"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z"
                          fill="#FFCD3C" />
                </svg>

                <div class="_4-6-195-reviews">4.6 (195 reviews)</div>
            </div>
            <div class="frame-372">
                <div class="frame-33">
                    <svg class="check-circle11"
                         width="24"
                         height="24"
                         viewBox="0 0 24 24"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M22 11.0801V12.0001C21.9988 14.1565 21.3005 16.2548 20.0093 17.9819C18.7182 19.7091 16.9033 20.9726 14.8354 21.584C12.7674 22.1954 10.5573 22.122 8.53447 21.3747C6.51168 20.6274 4.78465 19.2462 3.61096 17.4372C2.43727 15.6281 1.87979 13.4882 2.02168 11.3364C2.16356 9.18467 2.99721 7.13643 4.39828 5.49718C5.79935 3.85793 7.69279 2.71549 9.79619 2.24025C11.8996 1.76502 14.1003 1.98245 16.07 2.86011"
                              stroke="#039556"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round" />
                        <path d="M22 4L12 14.01L9 11.01"
                              stroke="#039556"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round" />
                    </svg>

                    <div class="room-service">Room Service</div>
                </div>
                <div class="frame-34">
                    <svg class="check-circle12"
                         width="24"
                         height="24"
                         viewBox="0 0 24 24"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M22 11.0801V12.0001C21.9988 14.1565 21.3005 16.2548 20.0093 17.9819C18.7182 19.7091 16.9033 20.9726 14.8354 21.584C12.7674 22.1954 10.5573 22.122 8.53447 21.3747C6.51168 20.6274 4.78465 19.2462 3.61096 17.4372C2.43727 15.6281 1.87979 13.4882 2.02168 11.3364C2.16356 9.18467 2.99721 7.13643 4.39828 5.49718C5.79935 3.85793 7.69279 2.71549 9.79619 2.24025C11.8996 1.76502 14.1003 1.98245 16.07 2.86011"
                              stroke="#039556"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round" />
                        <path d="M22 4L12 14.01L9 11.01"
                              stroke="#039556"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round" />
                    </svg>

                    <div class="restaurant">Restaurant</div>
                </div>
                <div class="frame-35">
                    <svg class="check-circle13"
                         width="24"
                         height="24"
                         viewBox="0 0 24 24"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M22 11.0801V12.0001C21.9988 14.1565 21.3005 16.2548 20.0093 17.9819C18.7182 19.7091 16.9033 20.9726 14.8354 21.584C12.7674 22.1954 10.5573 22.122 8.53447 21.3747C6.51168 20.6274 4.78465 19.2462 3.61096 17.4372C2.43727 15.6281 1.87979 13.4882 2.02168 11.3364C2.16356 9.18467 2.99721 7.13643 4.39828 5.49718C5.79935 3.85793 7.69279 2.71549 9.79619 2.24025C11.8996 1.76502 14.1003 1.98245 16.07 2.86011"
                              stroke="#039556"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round" />
                        <path d="M22 4L12 14.01L9 11.01"
                              stroke="#039556"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round" />
                    </svg>

                    <div class="spa">Spa</div>
                </div>
                <div class="frame-362">
                    <svg class="check-circle14"
                         width="24"
                         height="24"
                         viewBox="0 0 24 24"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M22 11.0801V12.0001C21.9988 14.1565 21.3005 16.2548 20.0093 17.9819C18.7182 19.7091 16.9033 20.9726 14.8354 21.584C12.7674 22.1954 10.5573 22.122 8.53447 21.3747C6.51168 20.6274 4.78465 19.2462 3.61096 17.4372C2.43727 15.6281 1.87979 13.4882 2.02168 11.3364C2.16356 9.18467 2.99721 7.13643 4.39828 5.49718C5.79935 3.85793 7.69279 2.71549 9.79619 2.24025C11.8996 1.76502 14.1003 1.98245 16.07 2.86011"
                              stroke="#039556"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round" />
                        <path d="M22 4L12 14.01L9 11.01"
                              stroke="#039556"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round" />
                    </svg>

                    <div class="parking">Parking</div>
                </div>
            </div>
            <div class="price-text">
                <div class="_79">$79</div>
                <div class="_1299">$1299</div>
                <div class="discount-tag">
                    <svg class="rectangle-12"
                         width="101"
                         height="20"
                         viewBox="0 0 101 20"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <g filter="url(#filter0_d_304_269)">
                            <path d="M0 2C0 0.895431 0.895431 0 2 0H79.5382C79.8421 0 80.1419 0.0692403 80.415 0.202463L96.815 8.20246C98.3126 8.93297 98.3126 11.067 96.815 11.7975L80.415 19.7975C80.1419 19.9308 79.8421 20 79.5382 20H2C0.895429 20 0 19.1046 0 18V2Z"
                                  fill="#EB0000" />
                        </g>
                        <defs>
                            <filter id="filter0_d_304_269"
                                    x="-4"
                                    y="0"
                                    width="105.938"
                                    height="28"
                                    filterUnits="userSpaceOnUse"
                                    color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                <feColorMatrix in="SourceAlpha"
                                               type="matrix"
                                               values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                                               result="hardAlpha" />
                                <feOffset dy="4" />
                                <feGaussianBlur stdDeviation="2" />
                                <feComposite in2="hardAlpha" operator="out" />
                                <feColorMatrix type="matrix"
                                               values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                                <feBlend mode="normal"
                                         in2="BackgroundImageFix"
                                         result="effect1_dropShadow_304_269" />
                                <feBlend mode="normal"
                                         in="SourceGraphic"
                                         in2="effect1_dropShadow_304_269"
                                         result="shape" />
                            </filter>
                        </defs>
                    </svg>

                    <div class="_93-off">93% Off</div>
                </div>
            </div>
            <div class="per-room-night">per room/night</div>
            <div class="view-more-details-button">
                <div class="view-more-details">View More Details</div>
            </div>
            <img class="hotel-search-list-image"
                 src="	https://static-images.vnncdn.net/files/publish/2023/3/9/ttbxecu-21-of-42-213-278.jpeg" />
        </div>
        <div class="hotel-search-list-3">
            <div class="frame-383">
                <div class="hotel-lakefront">Hotel Lakefront</div>
                <div class="_6391-elgin-st-celina-delaware-10299">
                    6391 Elgin St. Celina, Delaware 10299
                </div>
            </div>
            <div class="frame-322">
                <svg class="star-14"
                     width="20"
                     height="20"
                     viewBox="0 0 20 20"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z"
                          fill="#FFCD3C" />
                </svg>

                <div class="_4-5-55-reviews">4.5 (55 reviews)</div>
            </div>
            <div class="frame-372">
                <div class="frame-33">
                    <svg class="check-circle15"
                         width="24"
                         height="24"
                         viewBox="0 0 24 24"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M22 11.0801V12.0001C21.9988 14.1565 21.3005 16.2548 20.0093 17.9819C18.7182 19.7091 16.9033 20.9726 14.8354 21.584C12.7674 22.1954 10.5573 22.122 8.53447 21.3747C6.51168 20.6274 4.78465 19.2462 3.61096 17.4372C2.43727 15.6281 1.87979 13.4882 2.02168 11.3364C2.16356 9.18467 2.99721 7.13643 4.39828 5.49718C5.79935 3.85793 7.69279 2.71549 9.79619 2.24025C11.8996 1.76502 14.1003 1.98245 16.07 2.86011"
                              stroke="#039556"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round" />
                        <path d="M22 4L12 14.01L9 11.01"
                              stroke="#039556"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round" />
                    </svg>

                    <div class="room-service">Room Service</div>
                </div>
                <div class="frame-34">
                    <svg class="check-circle16"
                         width="24"
                         height="24"
                         viewBox="0 0 24 24"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M22 11.0801V12.0001C21.9988 14.1565 21.3005 16.2548 20.0093 17.9819C18.7182 19.7091 16.9033 20.9726 14.8354 21.584C12.7674 22.1954 10.5573 22.122 8.53447 21.3747C6.51168 20.6274 4.78465 19.2462 3.61096 17.4372C2.43727 15.6281 1.87979 13.4882 2.02168 11.3364C2.16356 9.18467 2.99721 7.13643 4.39828 5.49718C5.79935 3.85793 7.69279 2.71549 9.79619 2.24025C11.8996 1.76502 14.1003 1.98245 16.07 2.86011"
                              stroke="#039556"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round" />
                        <path d="M22 4L12 14.01L9 11.01"
                              stroke="#039556"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round" />
                    </svg>

                    <div class="restaurant">Restaurant</div>
                </div>
                <div class="frame-35">
                    <svg class="check-circle17"
                         width="24"
                         height="24"
                         viewBox="0 0 24 24"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M22 11.0801V12.0001C21.9988 14.1565 21.3005 16.2548 20.0093 17.9819C18.7182 19.7091 16.9033 20.9726 14.8354 21.584C12.7674 22.1954 10.5573 22.122 8.53447 21.3747C6.51168 20.6274 4.78465 19.2462 3.61096 17.4372C2.43727 15.6281 1.87979 13.4882 2.02168 11.3364C2.16356 9.18467 2.99721 7.13643 4.39828 5.49718C5.79935 3.85793 7.69279 2.71549 9.79619 2.24025C11.8996 1.76502 14.1003 1.98245 16.07 2.86011"
                              stroke="#039556"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round" />
                        <path d="M22 4L12 14.01L9 11.01"
                              stroke="#039556"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round" />
                    </svg>

                    <div class="spa">Spa</div>
                </div>
                <div class="frame-362">
                    <svg class="check-circle18"
                         width="24"
                         height="24"
                         viewBox="0 0 24 24"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M22 11.0801V12.0001C21.9988 14.1565 21.3005 16.2548 20.0093 17.9819C18.7182 19.7091 16.9033 20.9726 14.8354 21.584C12.7674 22.1954 10.5573 22.122 8.53447 21.3747C6.51168 20.6274 4.78465 19.2462 3.61096 17.4372C2.43727 15.6281 1.87979 13.4882 2.02168 11.3364C2.16356 9.18467 2.99721 7.13643 4.39828 5.49718C5.79935 3.85793 7.69279 2.71549 9.79619 2.24025C11.8996 1.76502 14.1003 1.98245 16.07 2.86011"
                              stroke="#039556"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round" />
                        <path d="M22 4L12 14.01L9 11.01"
                              stroke="#039556"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round" />
                    </svg>

                    <div class="parking">Parking</div>
                </div>
            </div>
            <div class="price-text">
                <div class="_89">$89</div>
                <div class="_1299">$1299</div>
                <div class="discount-tag">
                    <svg class="rectangle-13"
                         width="101"
                         height="20"
                         viewBox="0 0 101 20"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <g filter="url(#filter0_d_304_306)">
                            <path d="M0 2C0 0.895431 0.895431 0 2 0H79.5382C79.8421 0 80.1419 0.0692403 80.415 0.202463L96.815 8.20246C98.3126 8.93297 98.3126 11.067 96.815 11.7975L80.415 19.7975C80.1419 19.9308 79.8421 20 79.5382 20H2C0.895429 20 0 19.1046 0 18V2Z"
                                  fill="#EB0000" />
                        </g>
                        <defs>
                            <filter id="filter0_d_304_306"
                                    x="-4"
                                    y="0"
                                    width="105.938"
                                    height="28"
                                    filterUnits="userSpaceOnUse"
                                    color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                <feColorMatrix in="SourceAlpha"
                                               type="matrix"
                                               values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                                               result="hardAlpha" />
                                <feOffset dy="4" />
                                <feGaussianBlur stdDeviation="2" />
                                <feComposite in2="hardAlpha" operator="out" />
                                <feColorMatrix type="matrix"
                                               values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                                <feBlend mode="normal"
                                         in2="BackgroundImageFix"
                                         result="effect1_dropShadow_304_306" />
                                <feBlend mode="normal"
                                         in="SourceGraphic"
                                         in2="effect1_dropShadow_304_306"
                                         result="shape" />
                            </filter>
                        </defs>
                    </svg>

                    <div class="_93-off">93% Off</div>
                </div>
            </div>
            <div class="per-room-night">per room/night</div>
            <div class="view-more-details-button">
                <div class="view-more-details">View More Details</div>
            </div>
            <img class="hotel-search-list-image"
                 src="	https://static-images.vnncdn.net/files/publish/2023/3/9/ttbxecu-21-of-42-213-278.jpeg" />
        </div>
        <div class="hotel-search-list-4">
            <div class="frame-383">
                <div class="hotel-serene-stay">Hotel Serene Stay</div>
                <div class="_2464-royal-ln-mesa-new-jersey-45463">
                    2464 Royal Ln. Mesa, New Jersey 45463
                </div>
            </div>
            <div class="frame-322">
                <svg class="star-15"
                     width="20"
                     height="20"
                     viewBox="0 0 20 20"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z"
                          fill="#FFCD3C" />
                </svg>

                <div class="_4-4-91-reviews">4.4 (91 reviews)</div>
            </div>
            <div class="frame-372">
                <div class="frame-33">
                    <svg class="check-circle19"
                         width="24"
                         height="24"
                         viewBox="0 0 24 24"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M22 11.0801V12.0001C21.9988 14.1565 21.3005 16.2548 20.0093 17.9819C18.7182 19.7091 16.9033 20.9726 14.8354 21.584C12.7674 22.1954 10.5573 22.122 8.53447 21.3747C6.51168 20.6274 4.78465 19.2462 3.61096 17.4372C2.43727 15.6281 1.87979 13.4882 2.02168 11.3364C2.16356 9.18467 2.99721 7.13643 4.39828 5.49718C5.79935 3.85793 7.69279 2.71549 9.79619 2.24025C11.8996 1.76502 14.1003 1.98245 16.07 2.86011"
                              stroke="#039556"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round" />
                        <path d="M22 4L12 14.01L9 11.01"
                              stroke="#039556"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round" />
                    </svg>

                    <div class="room-service">Room Service</div>
                </div>
                <div class="frame-34">
                    <svg class="check-circle20"
                         width="24"
                         height="24"
                         viewBox="0 0 24 24"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M22 11.0801V12.0001C21.9988 14.1565 21.3005 16.2548 20.0093 17.9819C18.7182 19.7091 16.9033 20.9726 14.8354 21.584C12.7674 22.1954 10.5573 22.122 8.53447 21.3747C6.51168 20.6274 4.78465 19.2462 3.61096 17.4372C2.43727 15.6281 1.87979 13.4882 2.02168 11.3364C2.16356 9.18467 2.99721 7.13643 4.39828 5.49718C5.79935 3.85793 7.69279 2.71549 9.79619 2.24025C11.8996 1.76502 14.1003 1.98245 16.07 2.86011"
                              stroke="#039556"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round" />
                        <path d="M22 4L12 14.01L9 11.01"
                              stroke="#039556"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round" />
                    </svg>

                    <div class="restaurant">Restaurant</div>
                </div>
                <div class="frame-35">
                    <svg class="check-circle21"
                         width="24"
                         height="24"
                         viewBox="0 0 24 24"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M22 11.0801V12.0001C21.9988 14.1565 21.3005 16.2548 20.0093 17.9819C18.7182 19.7091 16.9033 20.9726 14.8354 21.584C12.7674 22.1954 10.5573 22.122 8.53447 21.3747C6.51168 20.6274 4.78465 19.2462 3.61096 17.4372C2.43727 15.6281 1.87979 13.4882 2.02168 11.3364C2.16356 9.18467 2.99721 7.13643 4.39828 5.49718C5.79935 3.85793 7.69279 2.71549 9.79619 2.24025C11.8996 1.76502 14.1003 1.98245 16.07 2.86011"
                              stroke="#039556"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round" />
                        <path d="M22 4L12 14.01L9 11.01"
                              stroke="#039556"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round" />
                    </svg>

                    <div class="spa">Spa</div>
                </div>
                <div class="frame-362">
                    <svg class="check-circle22"
                         width="24"
                         height="24"
                         viewBox="0 0 24 24"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M22 11.0801V12.0001C21.9988 14.1565 21.3005 16.2548 20.0093 17.9819C18.7182 19.7091 16.9033 20.9726 14.8354 21.584C12.7674 22.1954 10.5573 22.122 8.53447 21.3747C6.51168 20.6274 4.78465 19.2462 3.61096 17.4372C2.43727 15.6281 1.87979 13.4882 2.02168 11.3364C2.16356 9.18467 2.99721 7.13643 4.39828 5.49718C5.79935 3.85793 7.69279 2.71549 9.79619 2.24025C11.8996 1.76502 14.1003 1.98245 16.07 2.86011"
                              stroke="#039556"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round" />
                        <path d="M22 4L12 14.01L9 11.01"
                              stroke="#039556"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round" />
                    </svg>

                    <div class="parking">Parking</div>
                </div>
            </div>
            <div class="price-text">
                <div class="_59">$59</div>
                <div class="_1299">$1299</div>
                <div class="discount-tag">
                    <svg class="rectangle-14"
                         width="101"
                         height="20"
                         viewBox="0 0 101 20"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <g filter="url(#filter0_d_304_343)">
                            <path d="M0 2C0 0.895431 0.895431 0 2 0H79.5382C79.8421 0 80.1419 0.0692403 80.415 0.202463L96.815 8.20246C98.3126 8.93297 98.3126 11.067 96.815 11.7975L80.415 19.7975C80.1419 19.9308 79.8421 20 79.5382 20H2C0.895429 20 0 19.1046 0 18V2Z"
                                  fill="#EB0000" />
                        </g>
                        <defs>
                            <filter id="filter0_d_304_343"
                                    x="-4"
                                    y="0"
                                    width="105.938"
                                    height="28"
                                    filterUnits="userSpaceOnUse"
                                    color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                <feColorMatrix in="SourceAlpha"
                                               type="matrix"
                                               values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                                               result="hardAlpha" />
                                <feOffset dy="4" />
                                <feGaussianBlur stdDeviation="2" />
                                <feComposite in2="hardAlpha" operator="out" />
                                <feColorMatrix type="matrix"
                                               values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                                <feBlend mode="normal"
                                         in2="BackgroundImageFix"
                                         result="effect1_dropShadow_304_343" />
                                <feBlend mode="normal"
                                         in="SourceGraphic"
                                         in2="effect1_dropShadow_304_343"
                                         result="shape" />
                            </filter>
                        </defs>
                    </svg>

                    <div class="_93-off">93% Off</div>
                </div>
            </div>
            <div class="per-room-night">per room/night</div>
            <div class="view-more-details-button">
                <div class="view-more-details">View More Details</div>
            </div>
            <img class="hotel-search-list-image"
                 src="	https://static-images.vnncdn.net/files/publish/2023/3/9/ttbxecu-21-of-42-213-278.jpeg" />
        </div>
    </div>
     <div class="footer">
        <div class="frame-31">
            <div class="frame-30">
                <svg class="instagram"
                     width="24"
                     height="24"
                     viewBox="0 0 24 24"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M17 2H7C4.23858 2 2 4.23858 2 7V17C2 19.7614 4.23858 22 7 22H17C19.7614 22 22 19.7614 22 17V7C22 4.23858 19.7614 2 17 2Z"
                          stroke="black"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round" />
                    <path d="M16.0002 11.3701C16.1236 12.2023 15.9815 13.0523 15.594 13.7991C15.2065 14.5459 14.5933 15.1515 13.8418 15.5297C13.0903 15.908 12.2386 16.0397 11.408 15.906C10.5773 15.7723 9.80996 15.3801 9.21503 14.7852C8.62011 14.1903 8.22793 13.4229 8.09426 12.5923C7.9606 11.7616 8.09226 10.91 8.47052 10.1584C8.84878 9.40691 9.45438 8.7938 10.2012 8.4063C10.948 8.0188 11.7979 7.87665 12.6302 8.00006C13.4791 8.12594 14.265 8.52152 14.8719 9.12836C15.4787 9.73521 15.8743 10.5211 16.0002 11.3701Z"
                          stroke="black"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round" />
                    <path d="M17.5 6.5H17.51"
                          stroke="black"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round" />
                </svg>

                <svg class="facebook"
                     width="24"
                     height="24"
                     viewBox="0 0 24 24"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M18 2H15C13.6739 2 12.4021 2.52678 11.4645 3.46447C10.5268 4.40215 10 5.67392 10 7V10H7V14H10V22H14V14H17L18 10H14V7C14 6.73478 14.1054 6.48043 14.2929 6.29289C14.4804 6.10536 14.7348 6 15 6H18V2Z"
                          stroke="black"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round" />
                </svg>

                <svg class="twitter"
                     width="24"
                     height="24"
                     viewBox="0 0 24 24"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M23 3.00005C22.0424 3.67552 20.9821 4.19216 19.86 4.53005C19.2577 3.83756 18.4573 3.34674 17.567 3.12397C16.6767 2.90121 15.7395 2.95724 14.8821 3.2845C14.0247 3.61176 13.2884 4.19445 12.773 4.95376C12.2575 5.71308 11.9877 6.61238 12 7.53005V8.53005C10.2426 8.57561 8.50127 8.18586 6.93101 7.39549C5.36074 6.60513 4.01032 5.43868 3 4.00005C3 4.00005 -1 13 8 17C5.94053 18.398 3.48716 19.099 1 19C10 24 21 19 21 7.50005C20.9991 7.2215 20.9723 6.94364 20.92 6.67005C21.9406 5.66354 22.6608 4.39276 23 3.00005V3.00005Z"
                          stroke="black"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round" />
                </svg>
            </div>
            <div class="frame-16">
                <div class="all-right-reserved">All Right Reserved</div>
            </div>
        </div>
    </div> 
</div>



