﻿@page "/account-management"
@using HotelBooking_AdminView.Pages.Component
@using HotelBooking_AdminView.IServices
@if (!isError && accounts == null)
{
    <p>loading...</p>
}
else if(!isError && accounts.Count > 0)
{
    <Title TitleText="Account Management" />

<table class="table table-hover">
    <thead>
        <tr class="table-dark">
            <th scope="col">Account ID</th>
            <th scope="col">Username</th>
            <th scope="col">Password</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var account in accounts)
        {
            <tr class="table-active">
                <td>@account.AccountId</td>
                <td>@account.Username</td>
                <td>**************</td>
                <td><a href="javascript:void(0);" @onclick="()=>ShowPopUp(account.AccountId)"><i class="fa-solid fa-pen" style="color: #0145bc;"></i></a></td>
                <td><a href="delete"><i class="fa-solid fa-trash" style="color: #ff0000;"></i></a></td>
            </tr>
        }
    </tbody>
</table>

<button class="btn btn-outline-success btn-addnew" @onclick="()=>ShowAddPopUp()">New Account</button>

<div class="pop-up-edit" style="display: @(isPopUpVisible ? "flex" : "none")">
    <form class="pop-up-edit-form">
        <fieldset>
            <div class="title-popup"><h2>Edit Account</h2></div>

            <div class="form-group">
                <label for="exampleInputUsername" class="form-label mt-4">Username</label>
                <input type="text" class="form-control" id="inputUsername" aria-describedby="usernameHelp" placeholder="Enter username" @bind="username">
                <small id="usernameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword" class="form-label mt-4">Password</label>
                <input type="password" class="form-control" id="inputPassword" placeholder="Password" autocomplete="off" @bind="password">
            </div>
            <div class="form-group">
                <label for="exampleInputConfirmPassword" class="form-label mt-4">Confirm Password</label>
                <input type="password" class="form-control" id="inputConfirmPassword" placeholder="Confirm Password" autocomplete="off" @bind="confirmPassword">
            </div>
                <button @onclick="HideEditPopUp" type="button" class="btn btn-outline-primary btn-submit-pop-up">Submit</button>
        </fieldset>
    </form>
</div>
    <div class="overlay-edit" style="display: @(isPopUpVisible ? "block" : "none")" @onclick="HideEditPopUp"></div>


<div class="pop-up-add" style="display: @(isAddPopUpVisible ? "flex" : "none")">
    <form class="pop-up-add-form">
        <fieldset>
            <div class="title-popup"><h2>Add Account</h2></div>

            <div class="form-group">
                <label for="exampleInputUsername" class="form-label mt-4">Username</label>
                    <input @bind="InputUsername" type="text" class="form-control" id="inputUsername" aria-describedby="usernameHelp" placeholder="Enter username">
                <small id="usernameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword" class="form-label mt-4">Password</label>
                <input @bind="InputPassword" type="password" class="form-control" id="inputPassword" placeholder="Password" autocomplete="off">
            </div>
            <div class="form-group">
                <label for="exampleInputConfirmPassword" class="form-label mt-4">Confirm Password</label>
                <input type="password" class="form-control" id="inputConfirmPassword" placeholder="Confirm Password" autocomplete="off">
            </div>
                <button @onclick="() => AddAccountHandle()" type="button" class="btn btn-outline-primary btn-submit-pop-up">Submit</button>
        </fieldset>
    </form>
</div>
    <div class="overlay-add" style="display: @(isAddPopUpVisible ? "block" : "none")" @onclick="HideAddPopUp"></div>

}
else{
    <h1 class="text-center my-5">Loading...</h1>
}
