﻿@page "/booking-detail-management"
@using HotelBooking_AdminView.Pages.Component
@using HotelBooking_AdminView.IServices

@if (!isError && list_booked == null)
{
    <p>loading...</p>
}
else if (!isError && list_booked.Count > 0)
{


    <Title TitleText="Booking Detail Management" />

    <table class="table table-hover">
        <thead>
            <tr class="table-dark">
                <th scope="col">Room ID</th>
                <th scope="col">BookingId</th>
                <th scope="col">CheckInDate</th>
                <th scope="col">CheckOutDate</th>
                <th scope="col">Amount</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var detail in list_booked)
            {
                <tr class="table-active">
                    <td>@detail.RoomId</td>
                    <td>@detail.BookingId</td>
                    <td>@detail.CheckInDate</td>
                    <td>@detail.CheckOutDate</td>
                    <td>@detail.Amount</td>
                    <td><a><i class="fa-solid fa-pen" style="color: #0145bc;"></i></a></td>
                    <td><a href="delete"><i class="fa-solid fa-trash" style="color: #ff0000;"></i></a></td>
                </tr>
            }
        </tbody>
    </table>
    <button class="btn btn-outline-success btn-addnew" @onclick="ShowAddPopUp">Add</button>
    <div class="pop-up-add" style="display: @(isAddPopUpVisible ? "flex" : "none")">
        <form class="pop-up-add-form">
            <fieldset>
                <div class="title-popup"><h2>Add BookedDetail</h2></div>

                <div class="form-group">
                    <label for="inputRoomId" class="form-label mt-4">RoomId</label>
                    <input @bind="RoomId" type="text" class="form-control" id="inputRoomId">
                </div>
                <div class="form-group">
                    <label for="inputBookingId" class="form-label mt-4">BookingId</label>
                    <input @bind="BookingId" type="text" class="form-control" id="inputBookingId" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="inputCheckIn" class="form-label mt-4">CheckIn</label>
                    <div class="form-group">
                        <input type="date" class="form-control" autocomplete="off" @bind="CheckInDate">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputCheckOut" class="form-label mt-4">CheckOut</label>
                    <input type="datetime-local" class="form-control" autocomplete="off" @bind="CheckOutDate">
                </div>
                <div class="form-group">
                    <label for="inputAmount" class="form-label mt-4">Amount</label>
                    <input @bind="Amount" type="number" class="form-control" id="inputAmount" autocomplete="off">
                </div>
                
                <button @onclick="() => AddBookedHandle()" type="button" class="btn btn-outline-primary btn-submit-pop-up">Submit</button>
            </fieldset>
        </form>
    </div>
    @* <div class="overlay-add" style="display: @(isAddPopUpVisible ? "block" : "none")" @onclick="HideAddPopUp"></div> *@
}





