﻿body {
    font-family: Arial, sans-serif;
    padding: 0;
    background-color: #f4f4f4;
}

main {
    max-width: 1400px;
    margin: 2% auto;
    padding: 1em;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.button {
    padding: 40px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-align: center;
    margin: 10px;
    width: calc(46.33% - 20px);
    font-size: 22px;
}

    .button:hover {
        background-color: #555;
    }
