﻿@page "/home"
@using HotelBooking_AdminView.Pages.Component

<Title TitleText="ADMIN MAIN PAGE"/>

<main>
    <div class="button-container">
        <a href="account-management" class="button">Account management</a>
        <a href="user-management" class="button">User management</a>
        <a href="booking-management" class="button">Booking management</a>
        <a href="booking-detail-management" class="button">Booking Detail management</a>
        <a href="room-management" class="button">Room management</a>
        <a href="room-type-management" class="button">Room Type management</a>
        <a href="hotel-management" class="button">Hotel management</a>
        <a href="payment-management" class="button">Payment management</a>
    </div>
</main>

