﻿@page "/hotel-management";
@using HotelBooking_AdminView.Pages.Component
@using HotelBooking_AdminView.IServices


@if (!isError && hotels == null)
{
    <p>loading...</p>
}
else if(!isError && hotels.Count > 0)
{
<Title TitleText="Hotel Management" />

<table class="table table-hover">
    <thead>
        <tr class="table-dark">
            <th scope="col">Hotel ID</th>
            <th scope="col">Address</th>
            <th scope="col">Name</th>
            <th scope="col">Image</th>
            <th scope="col">AverageRating</th>
            <th scope="col">Decription</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var hotel in hotels)
        {
            <tr class="table-active">
                <td>@hotel.HotelId</td>
                <td>@hotel.Address</td>
                <td>@hotel.Name</td>
                <td>@hotel.Image</td>
                <td>@hotel.AverageRating</td>
                <td>@hotel.Decription</td>
                <td><a href="javascript:void(0);" @onclick="()=>ShowPopUp(hotel.HotelId)"><i class="fa-solid fa-pen" style="color: #0145bc;"></i></a></td>
                <td><a href="delete"><i class="fa-solid fa-trash" style="color: #ff0000;"></i></a></td>
            </tr>
        }
    </tbody>
</table>

    <button class="btn btn-outline-success btn-addnew" @onclick="ShowAddPopUp">New Hotel</button>

<div class="pop-up-edit" style="display: @(isPopUpVisible ? "flex" : "none")">
    <form class="pop-up-edit-form">
        <fieldset>
            <div class="title-popup"><h2>Edit Hotel</h2></div>

            <div class="form-group">
                <label for="exampleInputAddress" class="form-label mt-4">Address</label>
                <input type="text" class="form-control" id="inputAddress" aria-describedby="addressHelp" placeholder="Enter address" @bind="address">
            </div>
            <div class="form-group">
                <label for="exampleInputName" class="form-label mt-4">Name</label>
                <input type="text" class="form-control" id="inputName" autocomplete="off" @bind="name">
            </div>
            <div class="form-group">
                <label for="exampleInputImage" class="form-label mt-4">Image</label>
                <input type="text" class="form-control" id="inputImage" autocomplete="off" @bind="image">
            </div>
            <div class="form-group">
                <label for="exampleInputAVG" class="form-label mt-4">AverageRating</label>
                <input type="text" class="form-control" id="inputAVG" autocomplete="off" @bind="avg" readonly>
            </div>
            <div class="form-group">
                <label for="exampleInputDescription" class="form-label mt-4">Description</label>
                <textarea class="form-control" id="inputDescription" autocomplete="off" @bind="description"></textarea>
            </div>
                <button @onclick="HideEditPopUp" type="button" class="btn btn-outline-primary btn-submit-pop-up">Submit</button>
        </fieldset>
    </form>
</div>

    <div class="overlay-edit" style="display: @(isPopUpVisible ? "block" : "none")" @onclick="HideEditPopUp"></div>


    <div class="pop-up-add" style="display: @(isAddPopUpVisible ? "flex" : "none")">
        <form class="pop-up-add-form">
            <fieldset>
                <div class="title-popup"><h2>Add Hotel</h2></div>

                <div class="form-group">
                    <label for="exampleInputAddress" class="form-label mt-4">Address</label>
                    <input @bind="InputAddress" type="text" class="form-control" id="inputAddress" aria-describedby="addressHelp" placeholder="Enter address">
                </div>
                <div class="form-group">
                    <label for="exampleInputName" class="form-label mt-4">Name</label>
                    <input @bind="InputName" type="text" class="form-control" id="inputName" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="exampleInputImage" class="form-label mt-4">Image</label>
                    <input @bind="InputImage" type="text" class="form-control" id="inputImage" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="exampleInputAVG" class="form-label mt-4">AverageRating</label>
                    <input @bind="InputAVG" type="text" class="form-control" id="inputAVG" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="exampleInputDescription" class="form-label mt-4">Description</label>
                    <textarea @bind="InputDescription" class="form-control" id="inputDescription" autocomplete="off"></textarea>
                </div>
                <button @onclick="() => AddHotelHandle()" type="button" class="btn btn-outline-primary btn-submit-pop-up">Submit</button>
            </fieldset>
        </form>
    </div>
    <div class="overlay-add" style="display: @(isAddPopUpVisible ? "block" : "none")" @onclick="HideAddPopUp"></div>
}
else
{
    <h1 class="text-center my-5">Loading...</h1>
}