﻿body {
}

.title {
    text-align: center;
    font-size: 42px;
}

table {
    margin-top: 30px;
}

    table td, table th {
        text-align: center;
    }

.btn-addnew {
    float: right;
}

.pop-up-edit, .pop-up-add {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #c4c4c4;
    opacity: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    border-radius: 14px;
}

.pop-up-edit-form, .pop-up-add-form {
    padding: 20px;
    width: 800px;
}

.form-group {
    width: 100%;
    margin-bottom: 15px;
}

.form-label {
    margin-bottom: 5px;
    font-weight: 700;
}

.form-control {
    width: 100%;
}

.btn-submit-pop-up {
    width: 100%;
}

.overlay-edit, .overlay-add {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}

.title-popup {
    text-align: center;
    font-weight: 700;
}