﻿@page "/"

<div class="blur-background"></div>
<div class="login-card">
    <h2 class="text-center title">Login</h2>
    <form @onsubmit="PerformLogin">
        <div class="form-group">
            <label for="username">Username</label>
            <input @bind="username" type="text" class="form-control" id="username" placeholder="user@user">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input @bind="password" type="@type" class="form-control" id="password" placeholder="simple.pass123#">
            <i id="eye" @onclick="()=>PasswordToggle()" class="fa-regular fa-eye"></i>
        </div>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-outline-dark">Login</button>
        </div>
    </form>
</div>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="error-message">
        <i class="fa-regular fa-circle-xmark fa-beat x-icon" style="color: #ff0000;"></i>
        <div class="mess">Access denied for this role!</div>
    </div>
}




<style>
    .title {
        font-size: 50px;
        font-weight: 800;
    }
    .error-message {
        display: flex;
        padding: 22px;
        float: right;
        background-color: #fff;
        gap: 20px;
        border-radius: 5px;
    }
    .x-icon {
        font-size: 42px;
    }
    .mess {
        color: red;
        font-size: 22px;
        font-weight: 800;
    }

    #eye{
        position: absolute;
        right:8%;
        top:61%;
    }
    #eye:hover{
        cursor: pointer;
    }
    .blur-background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('https://www.dorsetecho.co.uk/resources/images/17287683/?type=responsive-gallery-fullscreen');
        background-size: cover;
        filter: blur(10px); /* Độ mờ */
        z-index: -1;
    }

    .login-card {
        position: absolute;
        left: 40%;
        top: 30%;
        width: 400px;
        background-color: rgba(255, 255, 255, 0.7); /* Màu nền trong suốt với độ mờ 0.7 */
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    /* Optional: Add styles for form elements */
    .form-group {
        margin-bottom: 20px;
    }
</style>
