﻿@page "/room-management"
@using HotelBooking_AdminView.Pages.Component
@using HotelBooking_AdminView.IServices


@if (!isError && rooms == null)
{
    <p>loading...</p>
}
else if(!isError && rooms.Count > 0)
{

<Title TitleText="Room Management" />

<table class="table table-hover">
    <thead>
        <tr class="table-dark">
            <th scope="col">Room ID</th>
            <th scope="col">Name</th>
            <th scope="col">Status</th>
            <th scope="col">Room Type</th>
            <th scope="col">Hotel</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var room in rooms)
        {
            <tr class="table-active">
                <td>@room.RoomID</td>
                <td>@room.Name</td>
                <td>@room.Status</td>
                <td>@room.RoomTypeID</td>
                <td>@room.HotelID</td>
                <td><a href="javascript:void(0);" @onclick="()=>ShowPopUp(room.RoomID)"><i class="fa-solid fa-pen" style="color: #0145bc;"></i></a></td>
                <td><a href="delete"><i class="fa-solid fa-trash" style="color: #ff0000;"></i></a></td>
            </tr>
        }
    </tbody>
</table>

    <button class="btn btn-outline-success btn-addnew" @onclick="ShowAddPopUp">New Room</button>

<div class="pop-up-edit" style="display: @(isPopUpVisible ? "flex" : "none")">
    <form class="pop-up-edit-form">
        <fieldset>
            <div class="title-popup"><h2>Edit Room</h2></div>

            <div class="form-group">
                <label for="inputName" class="form-label mt-4">Name</label>
                <input type="text" class="form-control" id="inputName" aria-describedby="nameHelp" @bind="name">
            </div>

            <div class="form-group">
                <label for="inputStatus" class="form-label mt-4">Status</label>
                <select class="form-control" id="inputStatus" @bind="status">
                    <option value="Vacant">Vacant</option>
                    <option value="Occupied">Occupied</option>
                    <option value="Booked">Booked</option>
                </select>
            </div>

            <div class="form-group">
                <label for="inputRoomType" class="form-label mt-4">RoomType</label>
                <select class="form-control" id="inputRoomType" @bind="roomtype">
                    @foreach (var type in roomTypes)
                    {
                        <option value="@type.RoomTypeId">@type.RoomTypeName</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label for="inputHotel" class="form-label mt-4">Hotel</label>
                <input type="text" class="form-control" id="inputHotel" @bind="hotel">
            </div>

            <button @onclick="HideEditPopUp" type="button" class="btn btn-outline-primary btn-submit-pop-up">Submit</button>
        </fieldset>
    </form>
</div>

<div class="overlay-edit" style="display: @(isPopUpVisible ? "block" : "none")" @onclick="HideEditPopUp"></div>


    <div class="pop-up-add" style="display: @(isAddPopUpVisible ? "flex" : "none")">
        <form class="pop-up-add-form">
            <fieldset>
                <div class="title-popup"><h2>Add Room</h2></div>

                <div class="form-group">
                    <label for="inputName" class="form-label mt-4">Name</label>
                    <input @bind="InputName" type="text" class="form-control" id="inputName" aria-describedby="nameHelp">
                </div>

                <div class="form-group">
                    <label for="inputStatus" class="form-label mt-4">Status</label>
                    <select class="form-control" id="inputStatus" @bind="InputStatus">
                        <option value="Vacant">Vacant</option>
                        <option value="Occupied">Occupied</option>
                        <option value="Booked">Booked</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="inputRoomType" class="form-label mt-4">RoomType</label>
                    <select class="form-control" id="inputRoomType" @bind="InputRoomType">
                        @foreach (var type in roomTypes)
                        {
                            <option value="@type.RoomTypeId">@type.RoomTypeName</option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label for="inputHotel" class="form-label mt-4">Hotel</label>
                    <select class="form-control" id="inputRoomType" @bind="InputHotel">
                        @foreach (var type in hotels)
                        {
                            <option value="@type.HotelId">@type.Name</option>
                        }
                    </select>
                </div>

                <button @onclick="() => AddRoomHandle()" type="button" class="btn btn-outline-primary btn-submit-pop-up">Submit</button>
            </fieldset>
        </form>
    </div>

    <div class="overlay-add" style="display: @(isAddPopUpVisible ? "block" : "none")" @onclick="HideAddPopUp"></div>
}
else
{
    <h1 class="text-center my-5">Loading...</h1>
}