﻿@page "/room-type-management"
@using HotelBooking_AdminView.Pages.Component
@using HotelBooking_AdminView.IServices


@if (!isError && roomTypes == null)
{
    <p>loading...</p>
}
else if(!isError && roomTypes.Count > 0)
{
<Title TitleText="Room Type Management" />

<table class="table table-hover">
    <thead>
        <tr class="table-dark">
            <th scope="col">Room Type ID</th>
            <th scope="col">Room Type Name</th>
            <th scope="col">Image</th>
            <th scope="col">Description</th>
            <th scope="col">BasePrice</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var roomtype in roomTypes)
        {
            <tr class="table-active">
                <td>@roomtype.RoomTypeId</td>
                <td>@roomtype.RoomTypeName</td>
                <td>@roomtype.Image</td>
                <td>@roomtype.Description</td>
                <td>@roomtype.BasePrice</td>
                <td><a href="javascript:void(0);" @onclick="()=>ShowPopUp(roomtype.RoomTypeId)"><i class="fa-solid fa-pen" style="color: #0145bc;"></i></a></td>
                <td><a href="delete"><i class="fa-solid fa-trash" style="color: #ff0000;"></i></a></td>
            </tr>
        }
    </tbody>
</table>

    <button class="btn btn-outline-success btn-addnew" @onclick="ShowAddPopUp">New RoomType</button>

<div class="pop-up-edit" style="display: @(isPopUpVisible ? "flex" : "none")">
    <form class="pop-up-edit-form">
        <fieldset>
            <div class="title-popup"><h2>Edit RoomType</h2></div>
            <div class="form-group">
                <label for="inputRoomTypeName" class="form-label mt-4">Room Type Name</label>
                <input type="text" class="form-control" id="inputRoomTypeName" aria-describedby="roomTypeNameHelp" @bind="roomTypeName">
            </div>

            <div class="form-group">
                <label for="inputImage" class="form-label mt-4">Image</label>
                <input type="text" class="form-control" id="inputImage" aria-describedby="imageHelp" @bind="image">
            </div>

            <div class="form-group">
                <label for="inputDescription" class="form-label mt-4">Description</label>
                <input type="text" class="form-control" id="inputDescription" aria-describedby="descriptionHelp" @bind="description">
            </div>

            <div class="form-group">
                <label for="inputBasePrice" class="form-label mt-4">BasePrice</label>
                <input type="text" class="form-control" id="inputBasePrice" @bind="basePrice">
            </div>

                <button @onclick="HideEditPopUp" type="button" class="btn btn-outline-primary btn-submit-pop-up">Submit</button>
        </fieldset>
    </form>
</div>

    <div class="overlay-edit" style="display: @(isPopUpVisible ? "block" : "none")" @onclick="HideEditPopUp"></div>

//add-pop-up
    <div class="pop-up-add" style="display: @(isAddPopUpVisible ? "flex" : "none")">
        <form class="pop-up-add-form">
            <fieldset>
                <div class="title-popup"><h2>Add RoomType</h2></div>
                <div class="form-group">
                    <label for="inputRoomTypeName" class="form-label mt-4">Room Type Name</label>
                    <input @bind="InputName" type="text" class="form-control" id="inputRoomTypeName" aria-describedby="roomTypeNameHelp">
                </div>

                <div class="form-group">
                    <label for="inputImage" class="form-label mt-4">Image</label>
                    <input @bind="InputImage" type="text" class="form-control" id="inputImage" aria-describedby="imageHelp">
                </div>

                <div class="form-group">
                    <label for="inputDescription" class="form-label mt-4">Description</label>
                    <input @bind="InputDescription" type="text" class="form-control" id="inputDescription" aria-describedby="descriptionHelp" >
                </div>

                <div class="form-group">
                    <label for="inputBasePrice" class="form-label mt-4">BasePrice</label>
                    <input @bind="InputBasePrice" type="text" class="form-control" id="inputBasePrice">
                </div>

                <button @onclick="() => AddRoomTypeHandle()" type="button" class="btn btn-outline-primary btn-submit-pop-up">Submit</button>
            </fieldset>
        </form>
    </div>

    <div class="overlay-add" style="display: @(isAddPopUpVisible ? "block" : "none")" @onclick="HideAddPopUp"></div>


}
else
{
    <h1 class="text-center my-5">Loading...</h1>
}