﻿@page "/user-management"
@using HotelBooking_AdminView.Pages.Component
@using HotelBooking_AdminView.IServices

@if (!isError && users == null)
{
    <p>loading...</p>
}
else if (!isError && users.Count > 0)
{
<Title TitleText="User Management" />

<table class="table table-hover">
    <thead>
        <tr class="table-dark">
            <th scope="col">User ID</th>
            <th scope="col">Email</th>
            <th scope="col">Name</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in users)
        {
            <tr class="table-active">
                <td>@user.UserId</td>
                <td>@user.Email</td>
                <td>@user.Name</td>
                <td>@user.PhoneNumber</td>
                <td><a href="javascript:void(0);" @onclick="()=>ShowPopUp(user.UserId)"><i class="fa-solid fa-pen" style="color: #0145bc;"></i></a></td>
                <td><a href="delete"><i class="fa-solid fa-trash" style="color: #ff0000;"></i></a></td>
            </tr>
        }
    </tbody>
</table>

<div class="pop-up-edit" style="display: @(isPopUpVisible ? "flex" : "none")">
    <form class="pop-up-edit-form">
        <fieldset>
            <div class="title-popup"><h2>Edit User</h2></div>

            <div class="form-group">
                <label for="exampleInputEmail" class="form-label mt-4">Email</label>
                <input type="text" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email" @bind="email">
            </div>

            <div class="form-group">
                <label for="exampleInputName" class="form-label mt-4">Name</label>
                <input type="text" class="form-control" id="inputName" autocomplete="off" @bind="name">
            </div>

            <div class="form-group">
                <label for="exampleInputPhoneNumber" class="form-label mt-4">Phone Number</label>
                <input type="tel" class="form-control" id="inputPhoneNumber" autocomplete="off" @bind="phoneNumber">
            </div>
            <button @onclick="HidePopUp" type="button" class="btn btn-outline-primary btn-submit-pop-up">Submit</button>
        </fieldset>
    </form>
</div>

<div class="overlay" style="display: @(isPopUpVisible ? "block" : "none")" @onclick="HidePopUp"></div>
}
else
{
    <h1 class="text-center my-5">Loading...</h1>
}