﻿@page "/card-hotel"

<div class="_2-1-hotel-search-result-page">
    <div class="navbar">
        <div class="prime-hotels">Prime Hotels</div>
        <div class="login-button">
            <div class="login">Login</div>
        </div>
    </div>
    <div class="sort-by">Sort By :</div>
    <div class="filter-chips">
        <div class="rating">Rating</div>
    </div>
    <div class="filter-chips2">
        <div class="affordable">Affordable</div>
    </div>
    <div class="hotel-search-list-component">
        <div class="hotel-search-list-1">
            <div class="frame-38">
                <div class="hotel-mountain-view">Hotel MountainView</div>
                <div class="_2972-westheimer-rd-santa-ana-illinois-85486">
                    2972 Westheimer Rd. Santa Ana, Illinois 85486
                </div>
            </div>
            <div class="frame-32">
                <svg class="star-1"
                     width="20"
                     height="20"
                     viewBox="0 0 20 20"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z"
                          fill="#FFCD3C" />
                </svg>

                <div class="_4-7-95-reviews">4.7 (95 reviews)</div>
            </div>
            <div class="frame-37">
                <div class="frame-33">
                    <svg class="check-circle"
                         width="24"
                         height="24"
                         viewBox="0 0 24 24"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M22 11.08V12C21.9988 14.1564 21.3005 16.2547 20.0093 17.9818C18.7182 19.709 16.9033 20.9725 14.8354 21.5839C12.7674 22.1953 10.5573 22.1219 8.53447 21.3746C6.51168 20.6273 4.78465 19.2461 3.61096 17.4371C2.43727 15.628 1.87979 13.4881 2.02168 11.3363C2.16356 9.18457 2.99721 7.13633 4.39828 5.49707C5.79935 3.85782 7.69279 2.71538 9.79619 2.24015C11.8996 1.76491 14.1003 1.98234 16.07 2.86"
                              stroke="#039556"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round" />
                        <path d="M22 4L12 14.01L9 11.01"
                              stroke="#039556"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round" />
                    </svg>

                    <div class="room-service">Room Service</div>
                </div>
                <div class="frame-34">
                    <svg class="check-circle2"
                         width="24"
                         height="24"
                         viewBox="0 0 24 24"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M22 11.08V12C21.9988 14.1564 21.3005 16.2547 20.0093 17.9818C18.7182 19.709 16.9033 20.9725 14.8354 21.5839C12.7674 22.1953 10.5573 22.1219 8.53447 21.3746C6.51168 20.6273 4.78465 19.2461 3.61096 17.4371C2.43727 15.628 1.87979 13.4881 2.02168 11.3363C2.16356 9.18457 2.99721 7.13633 4.39828 5.49707C5.79935 3.85782 7.69279 2.71538 9.79619 2.24015C11.8996 1.76491 14.1003 1.98234 16.07 2.86"
                              stroke="#039556"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round" />
                        <path d="M22 4L12 14.01L9 11.01"
                              stroke="#039556"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round" />
                    </svg>

                    <div class="restaurant">Restaurant</div>
                </div>
                <div class="frame-35">
                    <svg class="check-circle3"
                         width="24"
                         height="24"
                         viewBox="0 0 24 24"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M22 11.08V12C21.9988 14.1564 21.3005 16.2547 20.0093 17.9818C18.7182 19.709 16.9033 20.9725 14.8354 21.5839C12.7674 22.1953 10.5573 22.1219 8.53447 21.3746C6.51168 20.6273 4.78465 19.2461 3.61096 17.4371C2.43727 15.628 1.87979 13.4881 2.02168 11.3363C2.16356 9.18457 2.99721 7.13633 4.39828 5.49707C5.79935 3.85782 7.69279 2.71538 9.79619 2.24015C11.8996 1.76491 14.1003 1.98234 16.07 2.86"
                              stroke="#039556"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round" />
                        <path d="M22 4L12 14.01L9 11.01"
                              stroke="#039556"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round" />
                    </svg>

                    <div class="spa">Spa</div>
                </div>
                <div class="frame-36">
                    <svg class="check-circle4"
                         width="24"
                         height="24"
                         viewBox="0 0 24 24"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M22 11.08V12C21.9988 14.1564 21.3005 16.2547 20.0093 17.9818C18.7182 19.709 16.9033 20.9725 14.8354 21.5839C12.7674 22.1953 10.5573 22.1219 8.53447 21.3746C6.51168 20.6273 4.78465 19.2461 3.61096 17.4371C2.43727 15.628 1.87979 13.4881 2.02168 11.3363C2.16356 9.18457 2.99721 7.13633 4.39828 5.49707C5.79935 3.85782 7.69279 2.71538 9.79619 2.24015C11.8996 1.76491 14.1003 1.98234 16.07 2.86"
                              stroke="#039556"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round" />
                        <path d="M22 4L12 14.01L9 11.01"
                              stroke="#039556"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round" />
                    </svg>

                    <div class="parking">Parking</div>
                </div>
            </div>
            <div class="price-text">
                <div class="_99">$99</div>
                <div class="_1299">$1299</div>
                <div class="discount-tag">
                    <svg class="rectangle-1"
                         width="101"
                         height="20"
                         viewBox="0 0 101 20"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <g filter="url(#filter0_d_155_155)">
                            <path d="M0 2C0 0.895431 0.895431 0 2 0H79.5382C79.8421 0 80.1419 0.0692403 80.415 0.202463L96.815 8.20246C98.3126 8.93297 98.3126 11.067 96.815 11.7975L80.415 19.7975C80.1419 19.9308 79.8421 20 79.5382 20H2C0.895429 20 0 19.1046 0 18V2Z"
                                  fill="#EB0000" />
                        </g>
                        <defs>
                            <filter id="filter0_d_155_155"
                                    x="-4"
                                    y="0"
                                    width="105.938"
                                    height="28"
                                    filterUnits="userSpaceOnUse"
                                    color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                <feColorMatrix in="SourceAlpha"
                                               type="matrix"
                                               values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                                               result="hardAlpha" />
                                <feOffset dy="4" />
                                <feGaussianBlur stdDeviation="2" />
                                <feComposite in2="hardAlpha" operator="out" />
                                <feColorMatrix type="matrix"
                                               values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                                <feBlend mode="normal"
                                         in2="BackgroundImageFix"
                                         result="effect1_dropShadow_155_155" />
                                <feBlend mode="normal"
                                         in="SourceGraphic"
                                         in2="effect1_dropShadow_155_155"
                                         result="shape" />
                            </filter>
                        </defs>
                    </svg>

                    <div class="_93-off">93% Off</div>
                </div>
            </div>
            <div class="per-room-night">per room/night</div>
            <div class="view-more-details-button">
                <div class="view-more-details"><a href="/booking-detail">View More Details</a> </div>
            </div>
            <img class="hotel-search-list-image"
                 src="https://static-images.vnncdn.net/files/publish/2023/3/9/ttbxecu-21-of-42-213-278.jpeg" />
        </div>
        
    </div>

</div>





