﻿._2-1-hotel-search-result-page,
._2-1-hotel-search-result-page * {
    box-sizing: border-box;
}

._2-1-hotel-search-result-page {
    background: #ffffff;
    width: 1440px;
    height: 1883px;
    position: relative;
    overflow: hidden;
}

.navbar {
    background: var(--black, #0c0404);
    width: 1440px;
    height: 100px;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
}

.prime-hotels {
    color: #ffffff;
    text-align: left;
    font: var(--inter-medium-24-px, 500 24px "Inter", sans-serif);
    position: absolute;
    left: 100px;
    top: 36px;
}

.login-button {
    background: var(--black, #0c0404);
    border-radius: 20px;
    border-style: solid;
    border-color: var(--white, #ffffff);
    border-width: 1px;
    padding: 10px 32px 10px 32px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 1233px;
    top: 30px;
}

.login {
    color: #ffffff;
    text-align: left;
    font: var(--inter-medium-16-px, 500 16px "Inter", sans-serif);
    position: relative;
}

.hotel-search-list-component {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 100px;
    top: 187px;
}

.hotel-search-list-1 {
    border-radius: 20px;
    border-style: solid;
    border-color: var(--black, #0c0404);
    border-width: 1px;
    flex-shrink: 0;
    width: 1240px;
    height: 350px;
    position: relative;
    overflow: hidden;
}

.frame-38 {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 433px;
    top: 20px;
}

.hotel-mountain-view {
    color: var(--black, #0c0404);
    text-align: left;
    font: var(--inter-semibold-36-px, 600 36px "Inter", sans-serif);
    position: relative;
}

._2972-westheimer-rd-santa-ana-illinois-85486 {
    color: var(--black, #0c0404);
    text-align: left;
    font: var(--inter-medium-18-px, 500 18px "Inter", sans-serif);
    position: relative;
}

.frame-32 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 433px;
    top: 108px;
}

.star-1 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

._4-7-95-reviews {
    color: #000000;
    text-align: left;
    font: var(--inter-regular-16-px, 400 16px "Inter", sans-serif);
    position: relative;
}

.frame-37 {
    display: flex;
    flex-direction: row;
    gap: 36px;
    align-items: flex-end;
    justify-content: flex-start;
    position: absolute;
    left: 433px;
    top: 163px;
}

.frame-33 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.check-circle {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.room-service {
    color: #000000;
    text-align: left;
    font: var(--inter-regular-18-px, 400 18px "Inter", sans-serif);
    position: relative;
}

.frame-34 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.check-circle2 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.restaurant {
    color: #000000;
    text-align: left;
    font: var(--inter-regular-18-px, 400 18px "Inter", sans-serif);
    position: relative;
}

.frame-35 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.check-circle3 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.spa {
    color: #000000;
    text-align: left;
    font: var(--inter-regular-18-px, 400 18px "Inter", sans-serif);
    position: relative;
}

.frame-36 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.check-circle4 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.parking {
    color: #000000;
    text-align: left;
    font: var(--inter-regular-18-px, 400 18px "Inter", sans-serif);
    position: relative;
}

.price-text {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 435px;
    top: 260px;
}

._99 {
    color: #000000;
    text-align: left;
    font: var(--inter-bold-36-px, 700 36px "Inter", sans-serif);
    position: relative;
}

._1299 {
    color: #000000;
    text-align: left;
    font: 400 18px "Inter", sans-serif;
    text-decoration: line-through;
    position: relative;
}

.discount-tag {
    flex-shrink: 0;
    width: 100.5px;
    height: 20px;
    position: static;
}

.rectangle-1 {
    border-radius: 0px;
    position: absolute;
    left: 151px;
    top: 29px;
    overflow: visible;
}

._93-off {
    color: #ffffff;
    text-align: left;
    font: var(--inter-medium-12-px, 500 12px "Inter", sans-serif);
    position: absolute;
    left: 168px;
    top: 32px;
}

.per-room-night {
    color: var(--gray, #a0a0a0);
    text-align: left;
    font: var(--inter-regular-18-px, 400 18px "Inter", sans-serif);
    position: absolute;
    left: 436px;
    top: 308px;
}

.view-more-details-button {
    background: var(--black, #0c0404);
    border-radius: 20px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    padding: 16px 32px 16px 32px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 998px;
    top: 278px;
}

.view-more-details {
    color: var(--white, #ffffff);
    text-align: left;
    font: var(--inter-medium-16-px, 500 16px "Inter", sans-serif);
    position: relative;
}

.hotel-search-list-image {
    border-radius: 20px 0px 0px 20px;
    border-style: solid;
    border-color: var(--black, #0c0404);
    border-width: 1px;
    width: 400px;
    height: 350px;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
}

.hotel-search-list-2 {
    border-radius: 20px;
    border-style: solid;
    border-color: var(--black, #0c0404);
    border-width: 1px;
    flex-shrink: 0;
    width: 1240px;
    height: 350px;
    position: relative;
    overflow: hidden;
}

.hotel-royal-palace {
    color: var(--black, #0c0404);
    text-align: left;
    font: var(--inter-semibold-36-px, 600 36px "Inter", sans-serif);
    position: relative;
}

._4140-parker-rd-allentown-new-mexico-31134 {
    color: var(--black, #0c0404);
    text-align: left;
    font: var(--inter-medium-18-px, 500 18px "Inter", sans-serif);
    position: relative;
}

.star-12 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

._4-6-195-reviews {
    color: #000000;
    text-align: left;
    font: var(--inter-regular-16-px, 400 16px "Inter", sans-serif);
    position: relative;
}

.check-circle5 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.check-circle6 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.check-circle7 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.check-circle8 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

._79 {
    color: #000000;
    text-align: left;
    font: var(--inter-bold-36-px, 700 36px "Inter", sans-serif);
    position: relative;
}

.rectangle-12 {
    border-radius: 0px;
    position: absolute;
    left: 151px;
    top: 29px;
    overflow: visible;
}

.hotel-search-list-3 {
    border-radius: 20px;
    border-style: solid;
    border-color: var(--black, #0c0404);
    border-width: 1px;
    flex-shrink: 0;
    width: 1240px;
    height: 350px;
    position: relative;
    overflow: hidden;
}

.hotel-lakefront {
    color: var(--black, #0c0404);
    text-align: left;
    font: var(--inter-semibold-36-px, 600 36px "Inter", sans-serif);
    position: relative;
}

._6391-elgin-st-celina-delaware-10299 {
    color: var(--black, #0c0404);
    text-align: left;
    font: var(--inter-medium-18-px, 500 18px "Inter", sans-serif);
    position: relative;
}

.star-13 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

._4-5-55-reviews {
    color: #000000;
    text-align: left;
    font: var(--inter-regular-16-px, 400 16px "Inter", sans-serif);
    position: relative;
}

.check-circle9 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.check-circle10 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.check-circle11 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.check-circle12 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

._89 {
    color: #000000;
    text-align: left;
    font: var(--inter-bold-36-px, 700 36px "Inter", sans-serif);
    position: relative;
}

.rectangle-13 {
    border-radius: 0px;
    position: absolute;
    left: 151px;
    top: 29px;
    overflow: visible;
}

.hotel-search-list-4 {
    border-radius: 20px;
    border-style: solid;
    border-color: var(--black, #0c0404);
    border-width: 1px;
    flex-shrink: 0;
    width: 1240px;
    height: 350px;
    position: relative;
    overflow: hidden;
}

.hotel-serene-stay {
    color: var(--black, #0c0404);
    text-align: left;
    font: var(--inter-semibold-36-px, 600 36px "Inter", sans-serif);
    position: relative;
}

._2464-royal-ln-mesa-new-jersey-45463 {
    color: var(--black, #0c0404);
    text-align: left;
    font: var(--inter-medium-18-px, 500 18px "Inter", sans-serif);
    position: relative;
}

.star-14 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

._4-4-91-reviews {
    color: #000000;
    text-align: left;
    font: var(--inter-regular-16-px, 400 16px "Inter", sans-serif);
    position: relative;
}

.check-circle13 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.check-circle14 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.check-circle15 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.check-circle16 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

._59 {
    color: #000000;
    text-align: left;
    font: var(--inter-bold-36-px, 700 36px "Inter", sans-serif);
    position: relative;
}

.rectangle-14 {
    border-radius: 0px;
    position: absolute;
    left: 151px;
    top: 29px;
    overflow: visible;
}

.sort-by {
    color: #000000;
    text-align: left;
    font: var(--inter-semibold-16-px, 600 16px "Inter", sans-serif);
    position: absolute;
    left: 100px;
    top: 134px;
}

.filter-chips {
    background: var(--white, #ffffff);
    border-radius: 20px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 182px;
    top: 124px;
    box-shadow: var( --shadow-effect-box-shadow, 0px 0px 10px 0px rgba(0, 0, 0, 0.5) );
}

.rating {
    color: #000000;
    text-align: left;
    font: var(--inter-semibold-16-px, 600 16px "Inter", sans-serif);
    position: relative;
}

.filter-chips2 {
    border-radius: 20px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 268px;
    top: 124px;
}

.affordable {
    color: #000000;
    text-align: left;
    font: var(--inter-semibold-16-px, 600 16px "Inter", sans-serif);
    position: relative;
}

.footer {
    background: var(--white, #ffffff);
    border-radius: 20px;
    width: 1240px;
    height: 200px;
    position: absolute;
    left: 100px;
    top: 1683px;
    overflow: hidden;
}

.frame-31 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 74px;
    top: 75px;
}

.frame-30 {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.instagram {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.facebook {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.twitter {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.frame-16 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    width: 1092px;
    position: relative;
}

.all-right-reserved {
    color: var(--black, #0c0404);
    text-align: left;
    font: var(--inter-medium-16-px, 500 16px "Inter", sans-serif);
    position: relative;
}
